<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:display="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>Stock Statistics</title>
    <div th:insert="navbar :: head"></div>

    <link rel="stylesheet" media="screen" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.css">
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/theme/neo.css'/>

</head>
<body>
    <div class ="container" >
        <div th:replace="navbar :: navbar"></div>
    </div>

    <div class = "container">
        <hr style="color:rgb(0,115,250); background-color:rgb(0,115,250); height:1px">
    <div class='wrap'>
        <div class='code-html' id='code-html'>
            <form th:action="@{/statistics/stockStatistics/getSelectedMonthStock}">
                <label class="control-label" th:text="#{stockStatistics.setStartMonth}"></label>
                <input type="month" th:name="selectedMonthStock"
                       th:value="${selectedMonthStock}"
                       min="2019-01" th:max="${maxDateSelect}">
                <button type="submit" name="history-start" class="btn btn-primary">Set</button>
            </form> <br>
            <div id="chart-area2"></div>
            <hr style="color:rgb(0,115,250); background-color:rgb(0,115,250); height:1px">
            <form th:action="@{/statistics/stockStatistics/getSelectedStartStockHistory}">
                <label class="control-label" th:text="#{stockStatistics.setStartMonth}"></label>
                <input type="month" id="start" th:name="selectedStartMonthStockHistory"
                       th:value="${selectedStartMonthStockHistory}"
                       min="2019-01" th:max="${maxDateSelect}">
                <button type="submit" name="history-start" class="btn btn-primary">Set</button>
            </form> <br>
            <div id="chart-area"></div>
        </div>
        <div class='custom-area'>
            <div id='error-dim'>
                <span id='error-text'></span>
                <div id='error-stack'></div>
            </div>
        </div>
        <hr style="color:rgb(0,115,250); background-color:rgb(0,115,250); height:1px">
    </div>

</div>
<script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js'></script>
<script src="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.js"></script>

<script classe='code-js' id="'code-js" th:inline="javascript">

    var allProductNames = /*[[${productNames}]]*/ [];

    var stockLevelSelectedMonth = /*[[${stockLevelMonth}]]*/ [];

    var container = document.getElementById('chart-area2');
    var data = {
        categories: allProductNames,
        series: [
            {
                name: 'Stock Levels',
                data: stockLevelSelectedMonth
            }
        ]
    };
    var options = {
        chart: {
            width: 1160,
            height: 650,
            title: '[(#{statistics.currentStock})]',
            format: '1,000'
        },
        yAxis: {
            title: 'Amount',
            min: 0,
            max: 2100
        },
        xAxis: {
            title: 'Products'
        },
        legend: {
            align: 'top'
        }
    };
    var theme = {
        series: {
            colors: [
                '#83b14e', '#458a3f', '#295ba0', '#2a4175', '#289399',
                '#289399', '#617178', '#8a9a9a', '#516f7d', '#dddddd'
            ]
        }
    };
    // For apply theme
    // tui.chart.registerTheme('myTheme', theme);
    // options.theme = 'myTheme';
    tui.chart.columnChart(container, data, options);
</script>

<script class='code-js' id='code-js' th:inline="javascript">
    var container = document.getElementById('chart-area');
    var allProductNames2 = /*[[${productNames}]]*/ [];

    var stockLevels2 = /*[[${stockLevelStartMonthHistory}]]*/ [];

    var data = {
        categories: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        series: [
            {
                name: allProductNames2[0],
                data: stockLevels2[0]
            },
            {
                name: allProductNames2[1],
                data: [3.8, 5.6, 7.0, 9.1, 12.4, 15.3, 17.5, 17.8, 15.0, 10.6, 6.4, 3.7]
            },
            {
                name: allProductNames2[2],
                data: [22.1, 22.0, 20.9, 18.3, 15.2, 12.8, 11.8, 13.0, 15.2, 17.6, 19.4, 21.2]
            },
            {
                name: allProductNames2[3],
                data: [-10.3, -9.1, -4.1, 4.4, 12.2, 16.3, 18.5, 16.7, 10.9, 4.2, -2.0, -7.5]
            },
            {
                name: allProductNames2[4],
                data: [-5, -5, -5, -5, -5, -5, -5, -5, -5, -5, -5, -5]
            },
            {
                name: allProductNames2[5],
                data: [-10, -10, -10, -10, -10, -10, -10, -10, -10, -10, -10, -10]
            },
            {
                name: allProductNames2[6],
                data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
            },{
                name: allProductNames2[7],
                data: [5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
            }
        ]
    };
    var options = {
        chart: {
            width: 1160,
            height: 540,
            title: '[(#{statistics.stockHistory})]'
        },
        yAxis: {
            title: 'Amount (kg/liter/unit)',
            max: 2100
        },
        xAxis: {
            title: 'Month',
            pointOnColumn: true,
            dateFormat: 'MMM',
            tickInterval: 'auto'
        },
        series: {
            showDot: false,
            zoomable: true
        },
        tooltip: {
            suffix: '°C'
        },
        plot: {
            bands: [
                {
                    range: ['03/01/2016', '05/01/2016'],
                    color: 'gray',
                    opacity: 0.2
                }
            ],
            lines: [
                {
                    value: '03/01/2016',
                    color: '#fa2828'
                }
            ]
        }
    };
    var theme = {
        series: {
            colors: [
                '#83b14e', '#458a3f', '#295ba0', '#2a4175', '#289399',
                '#289399', '#617178', '#8a9a9a', '#516f7d', '#dddddd'
            ]
        }
    };
    // For apply theme
    // tui.chart.registerTheme('myTheme', theme);
    // options.theme = 'myTheme';
    var chart = tui.chart.lineChart(container, data, options);
</script>
<!--For tutorial page-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.js'></script>
<script src='//ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/edit/matchbrackets.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/selection/active-line.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/javascript/javascript.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/javascript-lint.js'></script>

</body>
</html>
