<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:display="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>Stock Statistics</title>
    <div th:insert="navbar :: head"></div>

    <link rel="stylesheet" media="screen" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.css">
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/theme/neo.css'/>

</head>
<body>
    <div class ="container" >
        <div th:replace="navbar :: navbar"></div>
    </div>

    <div class = "container">
        <hr style="color:rgb(0,115,250); background-color:rgb(0,115,250); height:1px">
    <div class='wrap'>
        <div class='code-html' id='code-html'>
            <form th:action="@{/statistics/stockStatistics/getSelectedStartStockHistory}">
                <label class="control-label" th:text="#{stockStatistics.setStartMonth}"></label>
                <input type="month" id="start" th:name="selectedStartMonthStockHistory"
                       th:value="${selectedStartMonthStockHistory}"
                       min="2019-01" th:max="${maxDateSelect}">
                <button type="submit" name="history-start" class="btn btn-primary" th:text="#{statistics.changeDate}"></button>
            </form> <br>

            <form th:action="@{/statistics/stockStatistics/getSelectedProduct}" th:object="${selectedProd}">
                <select th:field="*{name}">
                    <option th:each="product : ${products}"
                            th:value="${product.getName()}"
                            th:text="${product.getName()}"
                    >Options</option>
                </select>
                <br><br>
                <button class="btn btn-primary" type="submit" th:text="#{statistics.addProduct}"></button>
                <a th:href="@{/statistics/stockStatistics/resetGraphStockHistory}" class="btn btn-primary" th:text="#{statistics.clearProdList}"></a>
                <br><br>
            </form>
            <div class="alert alert-danger" role="alert" th:if="${ProdStatus}==productLimit" th:text="#{statistics.amountProdErrorMessage}"></div>
            <div class="alert alert-danger" role="alert" th:if="${ProdStatus}==productDuplicate" th:text="#{statistics.duplicateProduct}"></div>
            <p th:text="#{statistics.amountProdMessage}"></p>
            <div id="chart-area"></div>
            <hr style="color:rgb(0,115,250); background-color:rgb(0,115,250); height:1px">
            <form th:action="@{/statistics/stockStatistics/getSelectedMonthStock}">
                <label class="control-label" th:text="#{stockStatistics.setStartMonth}"></label>
                <input type="month" th:name="selectedMonthStock"
                       th:value="${selectedMonthStock}"
                       min="2019-01" th:max="${maxDateSelect}">
                <button type="submit" name="history-start" class="btn btn-primary" th:text="#{statistics.changeDate}"></button>
            </form> <br>
            <div id="chart-area2"></div>
        </div>
        <div class='custom-area'>
            <div id='error-dim'>
                <span id='error-text'></span>
                <div id='error-stack'></div>
            </div>
        </div>
        <hr style="color:rgb(0,115,250); background-color:rgb(0,115,250); height:1px">
    </div>
</div>
<script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js'></script>
<script src="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.js"></script>

<script classe='code-js' id="'code-js" th:inline="javascript">

    var allProductNames = /*[[${productNames}]]*/ [];
    var stockLevelSelectedMonth = /*[[${stockLevelMonth}]]*/ [];
    var highestDataPointStock = "[(${highestDataPointStock})]";

    var container = document.getElementById('chart-area2');
    var data = {
        categories: allProductNames,
        series: [
            {
                name: 'Stock Levels',
                data: stockLevelSelectedMonth
            }
        ]
    };
    var options = {
        chart: {
            width: 1160,
            height: 650,
            title: '[(#{statistics.currentStock})]',
            format: '1,000'
        },
        yAxis: {
            title: 'Amount (kg/liter/unit)',
            min: 0,
            max: highestDataPointStock + 100
        },
        xAxis: {
            title: 'Products'
        },
        legend: {
            align: 'top'
        }
    };
    var theme = {
        series: {
            colors: [
                '#83b14e', '#458a3f', '#295ba0', '#2a4175', '#289399',
                '#289399', '#617178', '#8a9a9a', '#516f7d', '#dddddd'
            ]
        }
    };
    // For apply theme
    // tui.chart.registerTheme('myTheme', theme);
    // options.theme = 'myTheme';
    tui.chart.columnChart(container, data, options);
</script>

<script class='code-js' id='code-js' th:inline="javascript">
    var container = document.getElementById('chart-area');
    var selectedProductNames2 = /*[[${selectedProductNames}]]*/ [];
    var shownMonthsHistory = /*[[${shownMonthsHistory}]]*/ [];
    var stockLevels2 = /*[[${stockLevelStartMonthHistory}]]*/ [];
    var productCounter = "[(${productCounter})]";

    var data0 = {
        categories: shownMonthsHistory,
        series: [
            {}
        ]
    };
    var data1 = {
        categories: shownMonthsHistory,
        series: [
            {
                name: selectedProductNames2[0],
                data: stockLevels2[0]
            }
        ]
    };
    var data2 = {
        categories: shownMonthsHistory,
        series: [
            {
                name: selectedProductNames2[0],
                data: stockLevels2[0]
            },
            {
                name: selectedProductNames2[1],
                data: stockLevels2[1]
            }
        ]
    };
    var data3 = {
        categories: shownMonthsHistory,
        series: [
            {
                name: selectedProductNames2[0],
                data: stockLevels2[0]
            },
            {
                name: selectedProductNames2[1],
                data: stockLevels2[1]
            },
            {
                name: selectedProductNames2[2],
                data: stockLevels2[2]
            }
        ]
    };
    var data4 = {
        categories: shownMonthsHistory,
        series: [
            {
                name: selectedProductNames2[0],
                data: stockLevels2[0]
            },
            {
                name: selectedProductNames2[1],
                data: stockLevels2[1]
            },
            {
                name: selectedProductNames2[2],
                data: stockLevels2[2]
            },
            {
                name: selectedProductNames2[3],
                data: stockLevels2[3]
            }
        ]
    };
    var data5 = {
        categories: shownMonthsHistory,
        series: [
            {
                name: selectedProductNames2[0],
                data: stockLevels2[0]
            },
            {
                name: selectedProductNames2[1],
                data: stockLevels2[1]
            },
            {
                name: selectedProductNames2[2],
                data: stockLevels2[2]
            },
            {
                name: selectedProductNames2[3],
                data: stockLevels2[3]
            },
            {
                name: selectedProductNames2[4],
                data: stockLevels2[4]
            }
        ]
    };
    var options = {
        chart: {
            width: 1160,
            height: 540,
            title: '[(#{statistics.stockHistory})]'
        },
        yAxis: {
            title: 'Amount (kg/liter/unit)',
        },
        xAxis: {
            title: 'Month',
            pointOnColumn: true,
            dateFormat: 'MMM',
            tickInterval: 'auto'
        },
        series: {
            showDot: true,
            zoomable: true
        },
        tooltip: {
            suffix: 'kg/liter/unit'
        },
        plot: {
            bands: [
                {
                    range: ['03/01/2016', '05/01/2016'],
                    color: 'gray',
                    opacity: 0.2
                }
            ],
            lines: [
                {
                    value: '03/01/2016',
                    color: '#fa2828'
                }
            ]
        }
    };
    var theme = {
        series: {
            colors: [
                '#83b14e', '#458a3f', '#295ba0', '#2a4175', '#289399',
                '#289399', '#617178', '#8a9a9a', '#516f7d', '#dddddd'
            ]
        }
    };
    // For apply theme
    // tui.chart.registerTheme('myTheme', theme);
    // options.theme = 'myTheme';
    if (productCounter == 0) {
        tui.chart.lineChart(container, data0, options);
    } else if (productCounter == 1) {
        tui.chart.lineChart(container, data1, options);
    } else if (productCounter == 2) {
        tui.chart.lineChart(container, data2, options);
    } else if (productCounter == 3) {
        tui.chart.lineChart(container, data3, options);
    } else if (productCounter == 4) {
        tui.chart.lineChart(container, data4, options);
    } else if (productCounter == 5) {
        tui.chart.lineChart(container, data5, options);
    }
</script>
<!--For tutorial page-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.js'></script>
<script src='//ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/edit/matchbrackets.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/selection/active-line.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/mode/javascript/javascript.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/javascript-lint.js'></script>
    <div th:replace="footer :: footer"></div>
</body>
</html>
