<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="navbar :: head (title='#{device.management}')"></head>
<body onload="initPage()">
<script th:inline="javascript">
</script>
<div class="container">
    <!-- Import menu bar -->
    <div th:replace="navbar :: navbar"></div>

    <form action="#" th:action="@{/devices/{id}(id=${device})}" th:object="${device}" method="post">
        <input th:type="hidden" th:field="*{id}"/>
        <div class="alert alert-danger" role="alert" th:if="${errormessage}!=null" th:text="${errormessage}"></div>
        <div class="container">
            <div class="row" >
                <div class="col-3" >
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('devicename')}?'has-error': ''">
                        <label class="control-label" th:text="#{device.name}"></label>
                        <span class="control-label" th:if="${#fields.hasErrors('devicename')}"
                              th:errors="*{devicename}"></span>
                        <input class="form-control" type="text" th:field="*{devicename}"
                        /> </div>
                    <p> <label th:text="#{device.type}"></label>
                        <select class="custom-select" th:field="*{deviceType}">
                            <option th:each="deviceType : ${allDeviceTypes}"
                                    th:value="${{deviceType}}"
                                    th:text="${deviceType.getDeviceTypeName()}"></option>
                        </select>
                    </p>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('comment')}?'has-error': ''">
                        <label class="control-label" th:text="#{device.comment}">Comment</label>
                        <span class="control-label" th:if="${#fields.hasErrors('comment')}"
                              th:errors="*{comment}">comment Error</span>
                        <textarea rows="5" class="form-control" type="text" th:field="*{comment}"
                        />
                    </div>
                </div>
                <div class="col" >
                </div>
                <div class="col" style=" display: block;margin-left: auto;margin-right: auto;" >
                    <img class="img-fluid" th:src="@{${(device.getDevicePictureName() != null && !#strings.isEmpty(device.getDevicePictureName())) ? '/files/images/'+device.getDevicePictureName() : '/images/placeholder.jpg'}}" />
                </div>
            </div>
        </div>
        <p>
            <a th:href="@{/devices}"  class="btn btn-primary" th:text="#{close}">Close</a>
            <button type="submit"  class="btn btn-primary" th:text="#{save}">Save</button>
        </p>
    </form>
    <hr class="my-4">

    <div class="alert alert-info" role="alert" th:if="${device.id}==null" th:text="#{device.savebeforepicture}"></div>
        <form th:if="${device.id}!=null " method="POST" enctype="multipart/form-data"  th:action="@{/upload/typeimage/{typeid}(typeid=${device.id})}">
            <label th:text="#{device.upload.new}"></label>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept="image/*" name="file" id="inputGroupFile02"/>
                    <label class="custom-file-label" for="inputGroupFile02" th:text="#{device.choosefile}"></label>
                </div>
                <div class="input-group-append">
                    <button id="upload-btn" class="btn btn-primary" type="submit" th:text="#{device.upload}" disabled></button>
                </div>
            </div>
            <script>
                function checkFileType(type){
                    type = type.split("/")[1];
                    let ok = false;
                    if(type == "jpeg"){
                        ok=true;
                    }else if(type == "bmp"){
                        ok=true;
                    }else if(type == "gif"){
                        ok=true;
                    }else if(type == "png"){
                        ok=true;
                    }
                    return ok;
                }

                $('#inputGroupFile02').on('change',function(){
                    if(this.files[0].size > 2097152*5){
                        alert("File exceeds 10MB size limit!");
                        this.value = "";
                    }if(!checkFileType(this.files[0].type)){
                        alert("image type not allowed");
                        this.value = "";
                    }
                    else {
                        //get the file name
                        var fileName = $(this).val();
                        //replace the "Choose a file" label
                        $(this).next('.custom-file-label').html(fileName);
                        $('#upload-btn').prop('disabled', false);
                    }
                })

            </script>
        </form>
    <p>
        <a th:if="${device.id}!=null " th:href="@{/devices/info/put/{typeid}(typeid=${device.getId()})}"  class="btn btn-primary" th:text="#{device.add.information}"></a>
    </p>
        <div class="card" th:each="deviceInfo : ${device.getDeviceInformations()}" style="margin-bottom: 15px">
            <div class="card-body">
                <h5 class="card-title" th:text="${deviceInfo.getInformationName()}"></h5>
                <p class="card-text" th:text="${deviceInfo.getInformation()}"></p>
                <div>
                    <ul>
                        <div th:if="${files}!= null  or ${deviceInfo.getFiles().size()==0}"th:each="file : ${files}">
                            <li  th:if="${#strings.contains(file, filename.replaceAll(' ','%20'))}" th:each="filename : ${deviceInfo.getFiles()}">
                                <a   th:href="${file}" th:text="${filename}"></a>
                            </li>
                        </div>
                    </ul>
                </div>
                <a type="button" class="btn btn-primary" th:href="@{/devices/info/{id}/{typeid}(id=${deviceInfo.getId()},typeid=${device.getId()})}" th:text="#{edit}"></a>
                <a type="button" class="btn btn-primary" th:href="@{/devices/info/{id}/{typeid}/delete(id=${deviceInfo.getId()},typeid=${device.getId()})}" th:text="#{delete}"></a>
            </div>
        </div>
        <div class="alert alert-primary" role="alert" th:if="${device.getDeviceInformations()}!=null and ${device.getDeviceInformations().size()}==0" th:text="#{device.noinfo}"></div>
        <div class="alert alert-info" role="alert" th:if="${device.id}==null" th:text="#{device.savebeforeinfo}"></div>
        <hr class="my-4">
        </form>

    <p>
        <a th:href="@{/devices}"  class="btn btn-primary" th:text="#{close}"></a>
    </p>
</div>
</body>
</html>
