<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="navbar :: head (title='#{device.type.management}')"></head>
<div class="container">
    <!-- Import menu bar -->
    <div th:replace="navbar :: navbar"></div>
    <form action="#" th:action="@{/devices/types/{id}(id=${deviceTypeObject.id})}" th:object="${deviceTypeObject}" method="post">
        <input th:type="hidden" th:field="*{id}"/>
        <div class="container">
            <div class="row" >
                <div class="col-3" >
                    <p>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('deviceTypeName')}?'has-error': ''">
                        <label class="control-label" th:text="#{device.type.name}"></label>
                        <span class="control-label" th:if="${#fields.hasErrors('deviceTypeName')}" th:errors="*{deviceTypeName}"></span>
                        <input class="form-control" type="text" th:field="*{deviceTypeName}"/>
                    </div>
                    <label th:text="#{device.overnight}"></label>
                    <select class="custom-select" th:field="*{overnightuse}">
                        <option th:value="true" th:text="true"></option>
                        <option th:value="false" th:text="false"></option>
                    </select>

                    <p></p>
                    <div class="form-group">
                        <label th:text="#{device.type.color}"></label>
                        <input type="color"  th:value="*{color}" th:field="*{color}">
                    </div>

                    <div class="alert alert-danger" role="alert" th:if="${NameIsUsed}!=null" th:text="${NameIsUsed}"></div>
                </div>
            </div>
        </div>
        <hr class="my-4">

        <p>
            <a th:href="@{/devices/types}"  class="btn btn-secondary" th:text="#{close}"></a>
            <button type="submit"  class="btn btn-primary" th:text="#{save}"></button>
        </p>
    </form>


</div>
</html>


