<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- Import header -->
<head th:replace="navbar :: head (title='#{devices}')"></head>
<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        var options = {
            valueNames: [ 'deviceName', 'deviceType']
        };
        var deviceList = new List('devices', options);

    }
</script>

<!-- Style to hide the not found div-->
<style>
    .notfound{
        display: none;
    }
</style>

<!-- Script that implement the search-->
<script>
    $(document).ready(function(){
        // Search on name column only
        $('#txt_name').keyup(function(){
            // Search Text
            var search = $(this).val();

            // Hide all table tbody rows
            $('table tbody tr').hide();

            // Count total search result
            var len = $('table tbody tr:not(.notfound) td:nth-child(1):contains("'+search+'")').length;

            if(len > 0){
                // Searching text in columns and show match row
                $('table tbody tr:not(.notfound) td:nth-child(1):contains("'+search+'")').each(function(){
                    $(this).closest('tr').show();
                });
            }else{
                $('.notfound').show();
            }

        });

    });

    // Case-insensitive searching (Note - remove the below script for Case sensitive search )
    $.expr[":"].contains = $.expr.createPseudo(function(arg) {
        return function( elem ) {
            return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
        };
    });
</script>
<div class="container">
    <!-- Import menu bar -->
    <div th:replace="navbar :: navbar"></div>
    <div class="content">
        <div id="device-list">
            <input type='text' id='txt_name' th:placeholder="#{device.search}">
            <div class="alert alert-danger" role="alert" th:if="${deviceError}!=''" th:text="${deviceError}"></div>
            <div class="alert alert-success" role="alert" th:if="${MailSuccess}!=''" th:text="${MailSuccess}"></div>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{device}"></th>
                    <th th:text="#{device.type}"></th>
                    <th th:text="#{device.info}"></th> <th></th>
                    <th th:text="#{device.manage}"></th> <th></th>
                </tr>
                </thead>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list">
                <tr th:each="device : ${allDevices}">
                    <td class='deviceName' th:value="${device.getDevicename()}"
                        th:text="${device.devicename }" ></td>
                    <td class="firstName" th:value="${device.getDeviceType()}"
                        th:text="${device.deviceType.deviceTypeName }" ></td>
                    <td >  <a th:href="@{/device/info/{id}/(id=${device.id})}" th:text="#{device.info}" class="btn btn-primary"></a></td>
                    <td>
                    <td>
                    <a sec:authorize="hasAuthority('Device - Modify - All')" th:href="@{/devices/{id}/(id=${device.id})}" class="fa fa-edit">
                    </a>
                    <a sec:authorize="hasAuthority('Device - Modify - All')" th:href="@{/devices/{id}/delete(id=${device.id})}"  class="fa fa-trash" style="color: red" data-toggle="modal" data-target="#modal-warning"  th:attr="data-target='#modal-warning'+${device.id }">
                              </a>
                    <a th:href="@{/mail/maintanance/{id}(id=${device.id})}"  class="fa fa-envelope" style="color: yellowgreen" th:attr="onclick='return confirm(\'' + #{device.maintanance} + '\')'">
                    </a>
                    </td>
                    <div class="modal modal-warning fade" th:id="modal-warning+${device.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel" th:text="#{device.delete}"></h3>
                                </div>
                                <div class="modal-body">
                                    <h5 th:text="#{device.areyousure}+${device.getDevicename()}+'?'"></h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{device.cancel}"></button>
                                    <a type="button" class="btn btn-danger" th:text="#{device.delete}" th:href="@{/devices/{id}/delete(id=${device.id})}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                <tr class='notfound'>
                    <td colspan='4' th:text="#{device.norecord}"></td>
                </tr>
                </tbody>
            </table>
            <p>
                <a th:href="@{/devices/types}" class="btn btn-primary" sec:authorize="hasAuthority('Device - Modify - All')" th:text="#{device.manage.types}"
                ></a>
                <a th:href="@{/devices/put}" class="btn btn-primary" sec:authorize="hasAuthority('Device - Modify - All')" th:text="#{device.add}"
                ></a>
            </p>

        </div>
    </div>
</div>

    <div th:replace="footer :: footer"></div>
</body>
</html>
