<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Import header -->
<head th:replace="navbar :: head (title='#{deviceTypes}')"></head>
<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        var options = {
            valueNames: [ 'deviceTypeName']
        };
        var deviceTypesList = new List('deviceTypes', options);
    }
</script>
<style>
    .notfound{
        display: none;
    }
</style>
<script>
    $(document).ready(function(){
        // Search on name column only
        $('#txt_name').keyup(function(){
            // Search Text
            var search = $(this).val();

            // Hide all table tbody rows
            $('table tbody tr').hide();

            // Count total search result
            var len = $('table tbody tr:not(.notfound) td:nth-child(1):contains("'+search+'")').length;

            if(len > 0){
                // Searching text in columns and show match row
                $('table tbody tr:not(.notfound) td:nth-child(1):contains("'+search+'")').each(function(){
                    $(this).closest('tr').show();
                });
            }else{
                $('.notfound').show();
            }

        });

    });

    // Case-insensitive searching (Note - remove the below script for Case sensitive search )
    $.expr[":"].contains = $.expr.createPseudo(function(arg) {
        return function( elem ) {
            return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
        };
    });
</script>
<div class="container">
    <!-- Import menu bar -->
    <div th:replace="navbar :: navbar"></div>
    <div class="alert alert-danger" role="alert" th:if="${errormessage}!=null" th:text="${errormessage}"></div>

    <div class="content">
        <div id="device-list">
            <input type='text' id='txt_name' th:placeholder="#{device.type.search}">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{device.type}"></th>
                    <th sec:authorize="hasAuthority('Device - Modify - All')" th:text="#{device.manage}"></th> <th></th>
                </tr>
                </thead>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list">
                <tr th:each="deviceType : ${allDeviceTypes}">
                    <td class='deviceTypeName' th:value="${deviceType.getDeviceTypeName()}"
                        th:text="${deviceType.getDeviceTypeName() }" ></td>
                    <td>
                        <a sec:authorize="hasAuthority('Device - Modify - All')" th:href="@{/devices/types/{id}/(id=${deviceType.getId()})}" class="fa fa-edit">
                        </a>
                        <a sec:authorize="hasAuthority('Device - Modify - All')" th:href="@{/devices/{id}/delete(id=${deviceType.id})}"  class="fa fa-trash" style="color: red" data-toggle="modal" data-target="#modal-warning"  th:attr="data-target='#modal-warning'+${deviceType.id }">
                        </a>
                        <div class="modal modal-warning fade" th:id="modal-warning+${deviceType.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel" th:text="#{delete}"></h3>
                                    </div>
                                    <div class="modal-body">
                                        <h5 th:text="#{device.areyousure}+${deviceType.getDeviceTypeName()}+'?'"></h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a type="button" class="btn btn-danger" th:text="#{delete}" th:href="@{/devices/types/{id}/delete(id=${deviceType.id})}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class='notfound'>
                    <td colspan='4' th:text="#{device.norecord}"></td>
                </tr>
                </tbody>
            </table>
            <p>
                <a th:href="@{/devices}" class="btn btn-primary" th:text="#{device.return}" ></a>
                <a sec:authorize="hasAuthority('Device - Modify - All')" th:href="@{/devices/types/put}" class="btn btn-primary" th:text="#{device.add.type}" ></a>
            </p>
        </div>
    </div>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>
