<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">

<!-- Import header -->
<head th:replace="navbar :: head (title='#{products}')"></head>
<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        var options = {
            valueNames: [ 'ProductName', 'productTag']
        };
        var productList = new List('products', options);
    }
</script>
<style>
    .notfound{
        display: none;
    }
</style>
<script>
    $(document).ready(function(){
        // Search on name column only
        $('#txt_name').keyup(function(){
            // Search Text
            var search = $(this).val();

            // Hide all table tbody rows
            $('table tbody tr').hide();

            // Count total search result
            var len = $('table tbody tr:not(.notfound) td:nth-child(1):contains("'+search+'")').length;

            if(len > 0){
                // Searching text in columns and show match row
                $('table tbody tr:not(.notfound) td:nth-child(1):contains("'+search+'")').each(function(){
                    $(this).closest('tr').show();
                });
            }else{
                $('.notfound').show();
            }

        });

    });

    // Case-insensitive searching (Note - remove the below script for Case sensitive search )
    $.expr[":"].contains = $.expr.createPseudo(function(arg) {
        return function( elem ) {
            return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
        };
    });
</script>
<div class="container">
    <!-- Import menu bar -->
    <div th:replace="navbar :: navbar"></div>
    <form action="#" th:action="@{/products/{id}(id=${product})}"
          th:object="${product}" method="post">
        <input th:type="hidden" th:field="*{id}"/>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('description')}?'has-error': ''">
            <label class="control-label" th:text="#{product.description}">description</label>
            <span class="control-label" th:if="${#fields.hasErrors('description')}"
                  th:errors="*{description}">Description Error</span>
            <input class="form-control" type="text" th:field="*{description}"
            /> </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('name')}?'has-error': ''">
            <label class="control-label" th:text="#{product.name}">Name</label>
            <span class="control-label" th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">Name Error</span>
            <input class="form-control" type="text" th:field="*{name}"
            /> </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('stockLevel')}?'has-error': ''">
            <label class="control-label" th:text="#{product.left}" >Stocklevel</label>
            <span class="control-label" th:if="${#fields.hasErrors('name')}"
                  th:errors="*{stockLevel}">Stocklevel Error</span>
            <input class="form-control" type="text" th:field="*{stockLevel}"
            /> </div>
        <p> <label th:text="#{product.tag}">tags</label>
            <select th:field="*{tags}" multiple="multiple">
                <option th:each="tag : ${allTags}"
                        th:value="${{tag}}"
                        th:text="${tag.name}">Wireframe</option>
            </select></span>
        </p>
        <p>
            <a href="/products" th:text="#{close}" class="btn btn-primary">Close</a>
            <button type="submit" th:text="#{save}" class="btn btnprimary">Save</button>
        </p>
    </form>
</div>
</body>
</html>