<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">

<!-- Import header -->
<head th:replace="navbar :: head (title='#{products}')"></head>
<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        $('#tags').multiSelect({
            selectableHeader: '<div class="custom-header" th:text="#{selectable.items}"></div>',
            selectionHeader: '<div class="custom-header" th:text="#{selected.items}"></div>'
        });
    }
</script>

<div class="container">
    <!-- Import menu bar -->
    <div th:replace="navbar :: navbar"></div>
    <h2 th:text="#{product.edit}">Edit material </h2>
    <h4 th:text="${product.name}">Name</h4>
    <div class="row">
        <div class="col" style=" display: block;margin-left: auto;margin-right: auto;" >

            <img th:src="${(product.getImageUrl() != null && product.getImageUrl() != 'locatie2') ? '/files/images/'+product.getImageUrl() : '/images/placeholder.jpg'}" />

        </div>
        <div class="col" style=" display: block;margin-left: auto;margin-right: auto;" >
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title"> Description </h5>

                    <a th:text="${product.description}">description</a>
                </div>
            </div>
        </div>
    </div>


        <form action="#" th:action="@{/products/{id}(id=${product})}"
              th:object="${product}" method="post">
        <input th:type="hidden" th:field="*{id}"/>
            <div class="form-row">
                <div class="col">
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('stockLevel')}?'has-error': ''">
                <label class="control-label" th:text="#{product.left}" >Stocklevel</label>
                <span class="control-label" th:if="${#fields.hasErrors('name')}"
                      th:errors="*{stockLevel}">Stocklevel Error</span>
                <input class="form-control" type="number" th:field="*{stockLevel}"
                /> </div>
                </div>
                <div class="col">
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('lowStockLevel')}?'has-error': ''">
                <label class="control-label" th:text="#{product.lowStockLevel}">Low Stock Level</label>
                <span class="control-label" th:if="${#fields.hasErrors('lowStockLevel')}"
                      th:errors="*{lowStockLevel}">LowStocklevel Error</span>
                <input class="form-control" type="number" th:field="*{lowStockLevel}"
                /> </div>
                </div>
                <div class="col">
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('reservedStockLevel')}?'has-error': ''">
                <label class="control-label" th:text="#{product.reservedStockLevel}">Reserved Stock Level</label>
                <span class="control-label" th:if="${#fields.hasErrors('reservedStockLevel')}"
                      th:errors="*{reservedStockLevel}">Reserved Stock level Error</span>
                <input class="form-control" type="number" th:field="*{reservedStockLevel}"
                /> </div>
                </div>
            </div>
        <p> <label th:text="#{product.tag}">tags</label>
            <select th:field="*{tags}" multiple="multiple">
                <option th:each="tag : ${allTags}"
                        th:value="${{tag}}"
                        th:text="${tag.name}">Wireframe</option>
            </select></span>
        </p>
        <p>
            <a href="/products" th:text="#{close}" class="btn btn-primary">Close</a>
            <button type="submit" th:text="#{save}" class="btn btnprimary">Save</button>
        </p>
    </form>
</div>
</body>
</html>