<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navbar :: head (title='#{Composition Management}')"></head>
<body onload = "initPage()">
<script type="text/javascript">
    function initPage(){
        $('#tags').multiSelect({
            selectableHeader: '<div class="custom-header" th:text="#{selectable.items}"></div>',
            selectionHeader: '<div class="custom-header" th:text="#{selected.items}"></div>'
        });
    }
</script>
<div class = "container">
    <div th:replace="navbar :: navbar"></div>
    <h4 th:text="#{composition.create}">New composition</h4>
    <form action="#" th:action="@{/compositions/{id}(id=${composition.id})}"
          th:object="${composition}" method="post">
        <input th:type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <div class="alert alert-danger" role="alert" th:if="${errormessage}!=null" th:text="${errormessage}"></div>
            <label for="productss" th:text="#{composition.product}">Products</label>
            <select class="custom-select" th:field="*{product}" id="productss">
                <option th:each="product : ${allProducts}"
                        th:value="${{product}}"
                        th:text="${product.name}"></option>
            </select>
        </div>
        <div class="form-group">
        <label class="control-label" th:text="#{composition.amount}">Amount</label>
        <input class="form-control" th:field="*{amount}"/>
        </div>
            <p>
                <button type="submit" th:text="#{save}" class="btn btn-outline-primary">Save</button>
                <a href="/compositions" th:text="#{close}" class="btn btn-secondary">Close</a>

            </p>

    </form>




</div>
</body>
</html>
