<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">

<!-- Import header -->
<head th:replace="navbar :: head (title='#{mixtures}')"></head>
<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        $('#tags').multiSelect({
            selectableHeader: '<div class="custom-header" th:text="#{selectable.items}"></div>',
            selectionHeader: '<div class="custom-header" th:text="#{selected.items}"></div>'
        });
    }
</script>

<div class="container">
    <!-- Import menu bar -->
    <div th:replace="navbar :: navbar"></div>
    <div class="row">
        <div class="col" style=" display: block;margin-left: auto;margin-right: auto;" >
            <a href="/products" th:text="#{close}" class="btn btn-primary">Close</a>
        </div>
        <div class="col" style=" display: block;margin-left: auto;margin-right: auto;" >
            <h2 th:text="#{mixtures.info}+ ': ' + ${mixture.getName()}">Mixture Info </h2>

        </div>
    </div>
    <div class="row">
        <div class="col" style=" display: block;margin-left: auto;margin-right: auto;" >

            <img th:src="${'/images/placeholder.jpg'}" />

        </div>
        <div class="col" style=" display: block;margin-left: auto;margin-right: auto;" >
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title"> <a th:text="#{mixture.description}">description</a> </h5>

                    <a th:text="${mixture.description}">description</a>
                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title"> <a th:text="#{mixtures.ingredients}">Ingredient</a>  </h5>
                                           <table class="table table-hover table-striped table-borderless">
                        <thead>
                        <tr>
                            <th th:text="#{product}">Product Name</th>
                            <th th:text="#{composition.amount}">Amount </th>
                            <th th:text="#{device.info}">Product Info</th>

                        </tr>
                        </thead>
                        <!-- IMPORTANT, class="list" have to be at tbody -->
                        <tbody class="list">
                        <tr th:each="ingred : ${mixture.compositions}">
                            <td class='productname' th:value="${ingred.getProduct().getName()}"
                                th:text="${ingred.getProduct().getName()}" >product Name</td>

                            <td class='productname' th:value="${ingred.getAmount()}"
                                th:text="${ingred.getAmount()}+ ' %'" >product amount</td>

                            <td><a style="color: black"  th:href="@{/products/info/{id}/(id=${ingred.getProduct().id})}">
                                <span class="fas fa-info"></span></a></td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h5 class="card-title"> <a th:text="#{mixtures.tag}">Tags</a>  </h5>
                    <a
                            th:each="tag : ${mixture.tags}"
                            th:text="${tag.name} + ' '">
                    </a>
                </div>
            </div>



        </div>
    </div>
</div>


</body>
</html>