<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navbar :: head (title='#{Mixture  Management}')"></head>
<body onload = "initPage()">

<div class = "container">
    <div th:replace="navbar :: navbar"></div>


    <h4 th:text="#{mixture.create}">New Mixture</h4>
    <form action="#" th:action="@{/mixtures/{id}(id=${mixture})}"
          th:object="${mixture}" method="post">
        <input th:type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label class="control-label" th:text="#{mixtures.name}"></label>
            <input class="form-control" type = text th:field="*{name}"/>

        </div>
        <div> <label th:text="#{mixtures.ingredients}"></label>
            <tr></tr>
            <select th:field="*{compositions}" multiple="multiple" >
                <option th:each="ingred : ${allCompositions}"
                        th:value="${{ingred}}"
                        th:text="${ingred.getProduct().getName()} + ':   ' + ${ingred.amount} +' ' + ${ingred.getProduct().units.getSIString()}">Wireframe</option>
            </select>
        </div>


            <p>
                <button type="submit" th:text="#{save}" class="btn btn-outline-primary">Save</button>
                <a href="/mixtures" th:text="#{close}" class="btn btn-secondary">Close</a>

            </p>
    </form>








</div>
</body>
</html>