<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navbar :: head (title='#{Experiment Management}')"></head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<body>
<script th:inline="javascript">
    $(document).ready(function(){
        var status= /*[[${Status}]]*/ null;
        var messages =  /*[[${Message}]]*/ "";
        console.log(status);
        console.log(messages);
        if(status != null)
        {
            if (status=="Success")
                toastr.success(messages);
            if (status=="Error")
                toastr.error(messages);
        }});
</script>
<div class = "container">
    <div th:replace="navbar :: navbar"></div>
    <table class="table table-hover">

        <thead>
        <tr>
            <th th:text="#{experiment.type}">Experiment Type</th>
            <th th:text="#{device.manage}">Manage</th>

        </tr>
        </thead>
        <!-- IMPORTANT, class="list" have to be at tbody -->
        <tbody class="list">
        <tr th:each="experiment : ${allExperimentTypes}">
            <td class='experiments' th:value="${experiment.getExperimentTypeName()}"
                th:text="${experiment.getExperimentTypeName()}" >Experiment Name</td>
            <td>
                <a  sec:authorize="hasAuthority('Planning - Make new experiment') " th:href="@{/planning/experiments/{id}/(id=${experiment.id})}"><span
                        class="fas fa-edit"></span></a>&nbsp;
                <a sec:authorize="hasAuthority('Planning - Make new experiment')" th:href="@{/planning/experiments/{id}/delete(id=${experiment.id})}">
                    <span class="fas fa-trash"></span></a>
            </td>
        </tr>
        </tbody>
    </table>

    <a style="margin-right: 10px" href="/planning/" class="btn btn-outline-primary" th:text="#{experiments.return}" >Return to schedules</a>
    <a style="margin-right: 10px" sec:authorize="hasAuthority('Planning - Make new experiment')" href="/planning/experiments/put" type="button" class="btn btn-primary"th:text="#{experiment.type.create}">
        Create new experiment
    </a>





</div>
</body>
</html>