<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<head>
    <div th:insert="navbar :: head"></div>
    <script src="/webjars/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta http-equiv="content-type" content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel='stylesheet' href='https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css'>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css"/>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}">
</head>

<script th:inline="javascript">
    let errorMsg = [[${errorMsg}]]
    $(document).ready(function () {
        if (errorMsg) {
            $("#myToast").toast('show');
        }
        //check checkBox to make isfixedType variable true
        document.getElementById("checkboxIsFixedType").checked = true;

    });

    let devices = [[${allDevices}]];
    let deviceTypes = [[${allDeviceTypes}]];
    let steps = [[${allSteps}]];
    let allExperiments = [[${allExperimentTypes}]];
    let tempExpIndex = 0;
    let tempStepIndex = 0;
    let userSteps = [[${userSteps}]];
    let otherSteps = [[${otherSteps}]];
    let holidays = [[${holidays}]];
    let userAccessRights =[[${userAccessRights}]]
    let calendarUpdate = {
        experimentIndex: 0,
        stepIndex: 0,
        start: 0,
        end: 0,
        startHour: 0,
        endHour: 0,
    }
    function addMixtureRow(mixtures) {
        var i = $('#mixtureList tr').length;

        var deviceOptions = null;
        for (let j = 0; j < mixtures.length; j++) {
            deviceOptions += '<option class="dropdown-item" value="' + mixtures[j].id + '" selected="selected">' + mixtures[j].name + '</option>'
        }
        $('#mixtureList')
            .append(
                '<tr>\n' +
                '   <th>\n' +
                '   <select required="" class=" form-control input-device" id="selectMixture" name="piecesOfMixture[' + i + '].mixture">' +
                '       <option hidden="" value="">Select mixture</option>' +
                deviceOptions +
                '   </select>' +
                '   </th>' +
                '   <th align="center">' +
                '       <div class="input-group-append">'+
                '           <input type="number" min="0" step="0.01" class=" form-control input-device" placeholder="Amount of mixture" id="piecesOfMixture' + i + '.mixtureAmount" name="piecesOfMixture[' + i + '].mixtureAmount" required>' +
                '           <span class="input-group-text" style="color:#808080">kg</span>'+
                '       </div>' +
                '   </th>'+
                '   <th>' +
                '       <input class=" form-control input-device" placeholder="Mixture comment" id="piecesOfMixture' + i + '.mixtureComment" name="piecesOfMixture[' + i + '].mixtureComment">' +
                '   </th>' +
                '</tr>');
    }


    function removeMixtureRow() {

        var i = $('#mixtureList tr').length;
        if (i > 0) {
            document.getElementById("mixtureList").deleteRow(i - 1);
        }
    }

    function addStepsRows() {
        //reference table
        var experimentTypeId = $('#selectExperimentType :selected').val();

        //a = experimentType
        var a;
        var tableRef = document.getElementById('list');
        tableRef.innerHTML = "";
        let devices = [[${allDevices}]];
        let experimentTypes = [[${allExperimentTypes}]];
        for (let i = 0; i < experimentTypes.length; i++) {
            if (experimentTypeId == experimentTypes[i].id) {
                a = experimentTypes[i];
                tempExpIndex = i;
            }
        }
        for (let i = 0; i < a.stepTypes.length; i++) {
            tempStepIndex = i;

            var deviceOprions = '';
            for (let j = 0; j < devices.length; j++) {
                if (devices[j].deviceType.id == a.stepTypes[i].deviceType.id) {
                    deviceOprions += '<option class="dropdown-item" value="' + devices[j].id + '">'
                        + devices[j].devicename +
                        '</option>';
                }

            }
            // set continuity text if time steptype has fixed time, otherwise set to 'No'
            var continuityText = a.stepTypes[i].continuity.type != "No" ? a.stepTypes[i].continuity.hours + ':' + a.stepTypes[i].continuity.minutes + '<br />' + a.stepTypes[i].continuity.type + '<br />' + a.stepTypes[i].continuity.directionType + '' : 'No';
            // set fixed length text if time steptype has fixed time, otherwise set to 'No'
            var fixedLengthText = a.stepTypes[i].hasFixedLength ? a.stepTypes[i].fixedTimeHours + ':' + a.stepTypes[i].fixedTimeMinutes + '<br />' + a.stepTypes[i].fixedTimeType + '' : 'No';
            $('#list')
                .append(
                    '<tr class="row' + i + '" id="row' + i + '">' +
                    '   <td style="text-align:left;" value="' + a.stepTypes[i].id + '">' + a.stepTypes[i].stepTypeName + '</td>' +
                    '   <td>' +
                    '       <select required class=" form-control input-device" id="selectDevice' + i + '" name="steps[' + i + '].device" style=" width: 110%;font-size:90%;">' +
                    '       <option hidden selected disabled value="">Select device</option>' +
                    deviceOprions +
                    '       </select>' +
                    '   </td>' +
                    '   <td style="vertical-align:bottom; text-align:center;">' +
                    '       <p>Start</p>' +
                    '       <p>End</p>' +
                    '   </td>' +
                    '   <td style="vertical-align:center; text-align:center;">' +
                    '       <div class="input-group">' +
                    '           <input required style="width: 90%; font-size:80%;" id="startDate' + i + '" type="date"  class="form-control input-date" placeholder="Start date" name="steps[' + i + '].start">' +
                    '           <input required style="width: 90%; font-size:80%; " id="endDate' + i + '" type="date"  class="form-control input-date" placeholder="End date" name="steps[' + i + '].end">' +
                    '       </div>' +
                    '   </td>' +
                    '   <td style="vertical-align:bottom; text-align:center;">' +
                    '       <p>Start</p>' +
                    '       <p>End</p>' +
                    '   </td>' +
                    '   <td style="vertical-align:center; text-align:center;">' +
                    '       <input required="" style="width: 100%; font-size:80%;" type="time" id="startHour' + i + '" class="form-control float-right input-hour" placeholder="Start hour" name="steps[' + i + '].startHour">' +
                    '        <input required="" style="width: 100%; font-size:80%; " type="time" id="endHour' + i + '" class="form-control float-right input-hour" placeholder="End hour" name="steps[' + i + '].endHour">' +
                    '   </td> ' +
                    '   <td> ' +
                    '   </td> ' +
                    '   <td style="width: 10%; font-size:80%; text-align:center" id="fixedStepLength' + i + '" name="fixedStepLength" value=""> ' + fixedLengthText +
                    '   </td> ' +
                    '   <td>' +
                    '       <input style="width: 100%; font-size:80%; " type="text" id="comment" class="form-control float-right" placeholder="comment" name="steps[' + i + '].comment" value="" >' +
                    '   </td> ' +
                    '   <td>' +
                    '       <button  style="width: 100%; font-size:80%;" class="btn btn-primary" type="button" id="choose" data-toggle="modal" data-target="#extraLargeModal" onclick="openCalendar(tempExpIndex,\'' + i + '\')" >Choose in calendar</button>' +
                    '   </td>' +
                    '</tr>');
            if ((a.stepTypes.length > 1) && (i < a.stepTypes.length - 1)) {
                $('#list')
                    .append(
                        '<tr>' +
                        '    <td></td>' +
                        '    <td></td>' +
                        '    <td></td>' +
                        '    <td></td>' +
                        '    <td></td>' +
                        '    <td></td>' +
                        '    <td style="width: 10%; font-size:80%; text-align:center" id="continuity' + i + '" name="continuity" value=""> ' + continuityText +
                        '    </td> ' +
                        '    <td></td>' +
                        '    <td></td>' +
                        '</tr>');
            }
        }
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function removeRow(r) {
        $(r).closest('tr').remove();
    }

    function openCalendar(expInd, stepInd) {
        calendarUpdate.experimentIndex = expInd;
        calendarUpdate.stepIndex = stepInd;
        document.getElementById('steptitle').innerText = allExperiments[calendarUpdate.experimentIndex]['stepTypes'][calendarUpdate.stepIndex]['deviceType']['deviceTypeName'];
        document.getElementById('length').innerText = "Length: unimplemented";
        if (stepInd > 0) {
            document.getElementById('continuity').innerText = "Continuity: " + allExperiments[calendarUpdate.experimentIndex]['stepTypes'][calendarUpdate.stepIndex - 1]['continuity']['type'];
            document.getElementById('align').innerText = "Alignment: After";
            document.getElementById('time').innerText = "Time: " + allExperiments[calendarUpdate.experimentIndex]['stepTypes'][calendarUpdate.stepIndex - 1]['continuity']['hours'] + "h " + allExperiments[calendarUpdate.experimentIndex]['stepTypes'][calendarUpdate.stepIndex - 1]['continuity']['minutes'] + "m";

        } else {
            document.getElementById('continuity').innerText = "Continuity: None";
            document.getElementById('align').innerText = "Alignment: None";
            document.getElementById('time').innerText = "Time: None";

        }
        calendarUpdate.start = document.getElementById('startDate' + stepInd + '').value
        calendarUpdate.end = document.getElementById('endDate' + stepInd + '').value
        calendarUpdate.startHour = document.getElementById('startHour' + stepInd + '').value
        calendarUpdate.endHour = document.getElementById('endHour' + stepInd + '').value

        document.getElementById('selectStep').disabled = false;

    }
</script>
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

    #myInput {
        box-sizing: border-box;
        background-position: 14px 12px;
        background-repeat: no-repeat;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    #myInput:focus {
        outline: 3px solid #ddd;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #ddd;
    }


    .show {
        display: block;
    }

    .modal-xl {
        width: 100%;
        height: 100%;
    !important;
        margin-top: 0px;
        margin-bottom: 0px;
        max-width: 100%;
    }

    .modal {
        padding: 10px !important;
    }

    .modal-dialog,
    .modal-content {
        /* 80% of window height */
        height: 100% !important;
    }

    .modal-body {
        height: 100%;
    !important;

    }

    body {
        padding-right: 0 !important
    }

    #calendar {
        overflow-y: auto;
    }

</style>

<div class="toast" id="myToast" data-delay="5000" style=" background-color:red ;position: absolute; top: 0; right: 0;">
    <div class="toast-body">
        <strong th:text="${errorMsg}"></strong>
    </div>
</div>

<body>
<div class="container">
    <div th:replace="navbar :: navbar"></div>
    <form id="MyForm" action="#" th:action="@{/planning/experiments/book/{id}  (id=${{experiment}})}"
          th:object="${experiment}" method="post">
        <input th:field="*{id}" th:type="hidden"/>
        <input th:type="hidden" th:field="*{user}"/>
        <input id="experimentType" th:type="hidden"
               th:field="*{experimentType}">
        <input type="checkbox" id="checkboxIsFixedType" th:field="*{experimentType.isFixedType}" hidden/>


        <h3><span th:text="#{experiment.info}"></span></h3>
        <table class="table table-hover" style="text-align:center; font-size:90%;">
            <thead>
            <tr>
                <th th:text="#{experiment.type}">Experiment Type</th>
                <th th:text="#{experiment.name}">Experiment Name</th>
            </tr>
            </thead>
            <!-- IMPORTANT, class="list" have to be at tbody -->
            <tbody>

            <th>
                <select required class=" form-control input-device" id="selectExperimentType" onchange="addStepsRows()"
                        th:field="*{experimentType.id}">
                    <option selected hidden th:text="#{experiment.type.select}" value=""> Select
                        experiment type
                    </option>
                    <option class="dropdown-item"
                            th:each="experimentTypep : ${allExperimentTypes}"
                            th:value="${{experimentTypep}}"
                            th:text="${experimentTypep.getExperimentTypeName()}">
                    </option>
                </select>
            </th>
            <th>
                <input class=" form-control input-device" th:field="*{experimentname}" placeholder="Expirement Name"
                       required>
            </th>
            </tbody>
        </table>

        <h3><span th:text="#{mixture.info}"></span></h3>
        <table class="table table-hover" style="text-align:center; font-size:90%;">
            <thead>
            <tr>
                <th th:text="#{mixture}">Mixture</th>
                <th th:text="#{mixtures.amount}">Amount</th>
                <th>Comment</th>
            </tr>
            </thead>
            <!-- IMPORTANT, class="list" have to be at tbody -->
            <tbody id="mixtureList">
            <div th:if="(*{piecesOfMixture}!=null)">
                <tr th:each="mixture, itemStat : *{piecesOfMixture}">
                    <th>
                        <select required class=" form-control input-device" id="selectMixture"
                                th:field="*{piecesOfMixture[__${itemStat.index}__].mixture}">
                            <option selected hidden th:text="#{mixture.select}" value=""> Select mixture
                            </option>
                            <option class="dropdown-item"
                                    th:each="mixture  : ${allMixtures}"
                                    th:value="${{mixture}}"
                                    th:text="${mixture.name}">
                            </option>
                        </select>
                    </th>
                    <th align="center">
                        <div class="input-group-append">
                            <input type="number" min="0" step="0.01" class=" form-control input-device"
                                   th:field="*{piecesOfMixture[__${itemStat.index}__].mixtureAmount}"
                                   placeholder="Amount of mixture" required>
                            <span class="input-group-text" style="color:#808080">kg</span>
                        </div>
                    </th>
                    <th>
                        <input class=" form-control input-device"
                               th:field="*{piecesOfMixture[__${itemStat.index}__].mixtureComment}"
                               placeholder="Mixture comment">
                    </th>
                </tr>

            </div>
            </tbody>
        </table>
        <button style="margin-right: 10px;font-size: 90%" class="btn btn-primary "
                type="button"
                th:text="#{mixture.add}"
                th:onclick="addMixtureRow([[${allMixtures}]])">
        </button>

        <button style="margin-right: 10px;font-size: 90%" class="btn btn-outline-primary"
                type="button"
                th:text="#{mixture.remove}"
                th:onclick="removeMixtureRow()">
        </button>

        <h3><span th:text="#{step.info}"></span></h3>
        <div style="display: flex;flex-direction: row">
        <button type="button" id="suggestExperiment" class="btn btn-warning" style="flex: 1">Suggest Entire Experiment</button>
            <div class="custom-control custom-checkbox" style="display:flex;flex-direction:row;flex: 1">
                <input style="flex:1;" type="checkbox" class="custom-control-input" id="defaultUnchecked" checked>
                <label style="flex:1;" class="custom-control-label" for="defaultUnchecked">Allow personal overlap</label>
            </div>
            <div style="display:flex;flex-direction:row;flex: 1">
                <input id="datePicker" style="flex:1;" type="date">
                <label style="flex:1;">Starting Date</label>
            </div>
        </div>

        <table class="table table-hover" style=" font-size:100%; text-align:center;">
            <thead>
            <tr>
                <th>Step Type</th>
                <th>Device</th>
                <th></th>
                <th th:text="#{date}">Date</th>
                <th></th>
                <th th:text="#{time}">Time</th>
                <th>Continuity</th>
                <th>Fixed step time</th>
                <th>Comment</th>
                <th>Choose in Calendar</th>
            </tr>
            </thead>
            <!-- IMPORTANT, class="list" have to be at tbody -->
            <tbody id="list" class="list" style=" font-size:100%;">
            <div th:if="(*{experimentType}!=null)">
                <div th:each="stepType, itemStat : *{experimentType.stepTypes}">
                    <tr>
                        <input id="step" th:type="hidden"
                               th:field="*{steps[__${itemStat.index}__].id}">
                        <input th:type="hidden" th:field="*{steps[__${itemStat.index}__].user}"/>
                        <td style="vertical-align:center; text-align:center;"
                            th:text="${stepType.stepTypeName}" th:value="${{stepType}}"
                            th:field="*{steps[__${itemStat.index}__].stepType}">
                        </td>
                        <td style="vertical-align:center; text-align:center;">
                            <select style="width: 110%;font-size:90%;" class=" form-control input-device"
                                    id="selectDevice"
                                    th:field="*{steps[__${itemStat.index}__].device}">
                                <option hidden selected th:text="#{device.select}" value=""> Select device
                                </option>
                                <option th:each="device : ${allDevices}"
                                        th:if="${device.deviceType.id} == ${stepType.deviceType.id} "
                                        class="dropdown-item"
                                        th:value="${{device}}"
                                        th:text="${device.devicename}">
                                </option>
                            </select>
                        </td>
                        <td style="vertical-align:center; text-align:center;">
                            <p th:text="#{start}"></p>
                            <p th:text="#{end}"></p>
                        </td>
                        <td style="vertical-align:center; text-align:center;">
                            <div class="input-group">
                                <input required style="width: 90%; font-size:80%;" id="startDate" type="date"
                                       th:value="*{steps[__${itemStat.index}__].start}"
                                       th:field="*{steps[__${itemStat.index}__].start}"
                                       class="form-control input-date"
                                       placeholder="Start date"/>

                                <input required style="width: 90%; font-size:80%; " id="endDate" type="date"
                                       th:value="*{steps[__${itemStat.index}__].end}"
                                       th:field="*{steps[__${itemStat.index}__].end}"
                                       class="form-control input-date"
                                       placeholder="End date"/>
                            </div>

                        </td>
                        <td style="vertical-align:bottom; text-align:center;">
                            <p th:text="#{start}"></p>
                            <p th:text="#{end}"></p>
                        </td>
                        <td style="vertical-align:center; text-align:center;">

                            <input required style="width: 100%; font-size:80%;" type="time" id="startHour"
                                   class="form-control float-right input-hour"
                                   th:value="*{steps[__${itemStat.index}__].startHour}"
                                   th:field="*{steps[__${itemStat.index}__].startHour}" placeholder="Start hour">
                            <input required style="width: 100%; font-size:80%; " type="time" id="endHour"
                                   class="form-control float-right input-hour"
                                   th:value="*{steps[__${itemStat.index}__].endHour}"
                                   th:field="*{steps[__${itemStat.index}__].endHour}" placeholder="End hour">
                        </td>

                        <td>
                        </td>
                        <td style=" vertical-align:center; width: 10%; font-size:80%; text-align:center"
                            id="fixedtimeLength"
                            name="fixedtimeLength"
                            th:utext="*{experimentType.stepTypes[__${itemStat.index}__].hasFixedLength} ?
                         *{experimentType.stepTypes[__${itemStat.index}__].fixedTimeHours}  +':' +*{experimentType.stepTypes[__${itemStat.index}__].fixedTimeMinutes}+
                        '<br />' + *{experimentType.stepTypes[__${itemStat.index}__].fixedTimeType}
                         : 'No'">
                        </td>
                        <td style="vertical-align:center; text-align:center;">
                            <input style="width: 100%; font-size:80%; " type="text" id="comment"
                                   class="form-control float-right" placeholder="comment"
                                   th:field="*{steps[__${itemStat.index}__].comment}">
                        </td>
                        <td>
                            <button style="width: 100%; font-size:80%;" class="btn btn-primary" type="button"
                                    id="choose" data-toggle="modal" data-target="#extraLargeModal"
                                    onclick="openCalendar(tempExpIndex, tempStepIndex)">Choose in calendar
                            </button>
                        </td>
                    </tr>
                    <tr th:if="(*{experimentType.stepTypes.size()} > 1) and (${itemStat.index} < *{experimentType.stepTypes.size()}-1)">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style=" vertical-align:center; width: 10%; font-size:80%; text-align:center" id="continuity"
                            name="continuity"
                            th:utext="(*{experimentType.stepTypes[__${itemStat.index}__].continuity.type} != 'No') ?
                        *{experimentType.stepTypes[__${itemStat.index}__].continuity.hours} + ':' + *{experimentType.stepTypes[__${itemStat.index}__].continuity.minutes}+
                        '<br />' + *{experimentType.stepTypes[__${itemStat.index}__].continuity.type}+
                        '<br />' + *{experimentType.stepTypes[__${itemStat.index}__].continuity.directionType}
                        : 'No'">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </div>
            </div>
            <div id="extraLargeModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-xl" style="overflow-y: hidden; height:100%;">
                    <div class="modal-content" style="display: flex;flex-direction: row">
                        <div id="leftSide" style="display:flex;flex-direction:column;flex: 3;">
                            <div id="menu" style="flex:1;">
                                <span class="dropdown">

                        </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-calendarType">
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-daily">
                                    <i class="calendar-icon ic_view_day"></i>Daily
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weekly">
                                    <i class="calendar-icon ic_view_week"></i>Weekly
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-monthly">
                                    <i class="calendar-icon ic_view_month"></i>Month
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks2">
                                    <i class="calendar-icon ic_view_week"></i>2 weeks
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks3">
                                    <i class="calendar-icon ic_view_week"></i>3 weeks
                                </a>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation">
                                <a role="menuitem" data-action="toggle-workweek">
                                    <input type="checkbox" class="tui-full-calendar-checkbox-square"
                                           value="toggle-workweek" checked>
                                    <span class="checkbox-title"></span>Show weekends
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" data-action="toggle-start-day-1">
                                    <input type="checkbox" class="tui-full-calendar-checkbox-square"
                                           value="toggle-start-day-1">
                                    <span class="checkbox-title"></span>Start Week on Monday
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" data-action="toggle-narrow-weekend">
                                    <input type="checkbox" class="tui-full-calendar-checkbox-square"
                                           value="toggle-narrow-weekend">
                                    <span class="checkbox-title"></span>Narrower than weekdays
                                </a>
                            </li>
                        </ul>
                    </span>
                                <span id="menu-navi">
                        <button type="button" class="btn btn-default btn-sm move-today"
                                data-action="move-today">Today</button>
                        <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
                            <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
                            <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
                        </button>
                    </span>
                                <span id="renderRange" class="render-range"></span>
                            </div>
                            <div id="calendar"></div>
                        </div>
                        <div id="rightSide" style="flex: 1;display: flex;flex-direction: column;overflow-y: auto;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    style="flex: 1;padding-right: 30px;width:10%;align-self:flex-end;">&times;
                            </button>

                            <div style="flex: 1;display: flex;flex-direction: row">
                                <button type="button" id="previousstep" class="btn btn-primary"
                                        style="padding: 5px;flex: 1;  margin:auto;display:block;width: 90%;">
                                    previous
                                </button>
                                <h6 id="steptitle" data-dismiss="modal"
                                    style="padding: 5px;flex: 3;   margin: auto; text-align:center;vertical-align: center"
                                    disabled>Step name</h6>
                                <button type="button" id="nextstep" class="btn btn-primary"
                                        style="padding: 5px;flex: 1;  margin:auto;display:block;width: 90%;"> next
                                </button>
                            </div>
                            <div style="flex: 4;display: flex;flex-direction: column">
                                <h6 data-dismiss="modal"
                                    style="flex:1;padding: 5px;   margin: auto; text-align:center;vertical-align: center">
                                    Requirements</h6>
                                <ul class="list-group" style="flex:4;margin: 10px;">
                                    <li class="list-group-item" style="padding-bottom: 0px;" id="length">Length:
                                        5h
                                    </li>
                                    <li class="list-group-item" style="padding-bottom: 0px;" id="continuity">
                                        Continuity:
                                        Hard
                                    </li>
                                    <li class="list-group-item" style="padding-bottom: 0px;" id="align">Align: After
                                    </li>
                                    <li class="list-group-item" style="padding-bottom: 0px;" id="time">Time
                                        difference:
                                        After
                                    </li>
                                </ul>
                            </div>
                            <div style="flex: 4;display: flex;flex-direction: column">
                                <h6 data-dismiss="modal"
                                    style="flex:1;padding: 5px;   margin: auto; text-align:center;vertical-align: center">
                                    Legend</h6>
                                <div id="legend" style="display: flex;flex:1; flex-direction: column;margin: 10px;">
                                    <div class="alert alert-info" id="help" role="alert">
                                        Drag and release to create a schedule.
                                    </div>
                                </div>
                            </div>
<!--                            <div class="custom-control custom-checkbox" style="display:flex;flex-direction:row;flex: 1">-->
<!--                                <input style="flex:1;" type="checkbox" class="custom-control-input" id="allowPersonal" checked>-->
<!--                                <label style="flex:1;" class="custom-control-label" for="allowPersonal">Allow personal overlap</label>-->
<!--                            </div>-->
                            <div style="flex: 1;margin: 10px;">
                                <select required id="deviceTypeDropdown" class="form-control input-device"
                                        style="visibility: visible;">
                                    <option value="none" selected disabled hidden>No available device</option>
                                </select>
                            </div>
                            <div style="flex: 1;">
                                <button type="button" id="suggestStep" class="btn btn-warning"
                                        style="width: 90%;  margin:auto;display:block;">Suggest a step
                                </button>
                                <button type="button" id="suggestStep" class="btn btn-warning"
                                        style="width: 90%;  margin:auto;display:block;" data-placement="top"
                                        data-toggle="popover" title="Success"
                                        data-content="suggestion succesfully generated">Suggest a step
                                </button>
                            </div>
                            <div style="flex: 1;">
                                <button type="button" id="selectStep" class="btn btn-success"
                                        style="width: 90%;  margin:auto;display:block;" disabled>Save step
                                </button>
                            </div>
                            <div class="toast" id="toastsuggestionsuccess" data-delay="5000"
                                 style=" position: absolute; top: 100px; right: 0;">
                                <div class="toast-header">
                                    <svg class="bd-placeholder-img rounded mr-2" width="20" height="20"
                                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                         focusable="false" role="img">
                                        <rect width="100%" height="100%" fill="#5cb85c"></rect>
                                    </svg>
                                    <strong class="mr-auto">Success</strong>
                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="toast-body">
                                    A suggestion has successfully been generated
                                </div>
                            </div>
                            <div class="toast" id="toastsuggestionerror" data-delay="5000"
                                 style=" position: absolute; top: 100px; right: 0;">
                                <div class="toast-header">
                                    <svg class="bd-placeholder-img rounded mr-2" width="20" height="20"
                                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                         focusable="false" role="img">
                                        <rect width="100%" height="100%" fill="#d9534f"></rect>
                                    </svg>
                                    <strong class="mr-auto">Problem</strong>
                                </div>
                                <div class="toast-body">
                                    A suggestion cant be generated within the next 14 days, try changing the
                                    requirements or changing the previous steps.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </tbody>
        </table>
        <div>
            <a style="margin-right: 10px" th:href="@{/planning/}" class="btn btn-outline-primary"
               th:text="#{experimentstype.return}">Return</a>

            <button style="margin-right: 10px" type="submit" class="btn btn-primary"
                    th:text="#{experiment.type.submit}">
                Submit
            </button>
        </div>
    </form>
</div>


</div>
<div th:replace="footer :: footer"></div>
</div>

<!-- Modal -->


<!-- Add all extra library script-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popp
er.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src='https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js'></script>
<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>
<!--Add the necessary custom scripts for the calendar -->

<script th:src="@{/js/bookstepCalendar.js}" type="text/javascript"></script>
<script class="reloadMe" th:src="@{/js/app.js}" type="text/javascript"></script>

</body>
</html>
