<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navbar :: head (title='#{homepage}')">

</head>
<div onload="initPage()">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script th:inline="javascript" type="text/javascript">
        function initPage() {

        }
    </script>
    <script>
        $(document).ready(function(){
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".table tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script th:inline="javascript">
        toastr.options.extendedTimeOut = 5000;
        $(document).ready(function () {
            var status = /*[[${Status}]]*/ null;
            var messages =  /*[[${Message}]]*/ "";
            if (status != null) {
                if (status == "Success")
                    toastr.success(messages);
                if (status == "Error")
                    toastr.error(messages);
            }
            $('.js-example-basic-single').select2();
            $('#sel').on('change', function () {
                var devices =  /*[[${allDevices}]]*/ {};
                $('#deviceNames')
                    .empty()
                    .append(' <option value="none" selected disabled hidden> Device Name </option>')
                ;
                var id = this.value;
                var count = 0;
                $.each(devices, function (key, device) {
                    if (id == device.deviceType.id) {
                        count++;
                        optionText = device.devicename;
                        optionValue = device.id;
                        $('#deviceNames').append($('<option>').val(optionValue).text(optionText));
                    }
                });
                if (count == 0)
                    $('#deviceNames')
                        .empty()
                        .append(' <option value="none" selected disabled hidden> No Device </option>');


                document.getElementById("deviceNames").style.visibility = "visible";
                $('#deviceNames').on('change', function () {
                    document.getElementById("startTime").value = new Date().toDateInputValue();
                    document.getElementById("startTime").style.visibility = "visible";
                    document.getElementById("startHour").style.visibility = "visible";
                })
                $('#startHour').on('change', function () {
                    document.getElementById("endTime").value = new Date().toDateInputValue();
                    document.getElementById("endTime").style.visibility = "visible";
                    document.getElementById("endHour").style.visibility = "visible";
                })
                $('#staticBackdrop').on('hidden.bs.modal', function () {
                    document.getElementById("deviceNames").style.visibility = "hidden";
                    document.getElementById("startTime").style.visibility = "hidden";
                    document.getElementById("startHour").style.visibility = "hidden";
                    document.getElementById("endTime").style.visibility = "hidden";
                    document.getElementById("endHour").style.visibility = "hidden";
                    $('#sel')
                        .append(' <option value="none" selected disabled hidden> Device Type </option>');
                });
            });

            // Search on name column only
            $('#txt_name').keyup(function () {
                // Search Text
                var search = $(this).val();
                // Hide all table tbody rows
                $('table tbody tr').hide();

                // Count total search result
                var len = $('table tbody tr:not(.notfound) td:nth-child(1):contains("' + search + '")').length;

                if (len > 0) {
                    // Searching text in columns and show match row
                    $('table tbody tr:not(.notfound) td:nth-child(1):contains("' + search + '")').each(function () {
                        $(this).closest('tr').show();
                    });
                } else {
                    $('.notfound').show();
                }
            });
        });
        // Case-insensitive searching (Note - remove the below script for Case sensitive search )
        $.expr[":"].contains = $.expr.createPseudo(function (arg) {
            return function (elem) {
                return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
            };
        });

        function onDeviceTypeSelected(id) {
            alert(id);
            document.getElementById("DeviceNameDropDown").style.visibility = "visible";
        }
        Date.prototype.toDateInputValue = (function() {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0,10);
        });
    </script>
    <style>
        .input-date {
            width: 37.5%;
            position: absolute;
            margin-top: 10px;
            visibility: hidden;
        }

        .input-hour {
            visibility: hidden;
            width: 40%;
            margin-top: 10px;
        }

        .input-device {
            margin-top: 10px;
        }
        .input-mixture {
            width: 40%;
            margin-top: 10px;
        }
    </style>
    <div class="container">
        <div th:replace="navbar :: navbar"></div>
        <h1>Planning Tool
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary float-right" style="" data-toggle="modal"
                    data-target="#staticBackdrop" th:text="#{book.step}">
                Book new Step
            </button>

            <p/>
            <a th:href="@{/planning/experiments/book/fixed}">
                <button type="button" class="btn btn-primary float-right" style="" data-toggle="modal"
                        data-target="#staticBackdropExperiment" th:text="#{book.Experiment.fixed}">
                    Book fixed experiment
                </button>
            </a>
            <a th:href="@{/planning/experiments/book/custom}">
                <button type="button" class="btn btn-primary float-right" style="" data-toggle="modal"
                        data-target="#staticBackdropExperiment" th:text="#{book.Experiment.custom}">
                    Book custom experiment
                </button>
            </a>

            <p/>

        </h1>

        <input class="floating" id="search" th:placeholder="#{search.all}" />

        <table class="table table-hover">
            <h2> <span th:text="#{steps}"></span></h2>
            <thead>
            <tr>
                <th th:text="#{step.user.username}">Username</th>
                <th th:text="#{step.device.devicename}">Device Name</th>
                <th th:text="#{step.start}">Start Date</th>
                <th th:text="#{step.startHour}">Start Hour</th>
                <th th:text="#{step.end}">End Date</th>
                <th th:text="#{step.endHour}">End Hour</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <!-- IMPORTANT, class="list" have to be at tbody -->
            <tbody class="list" id="list">
            <tr th:each="step : ${userSteps}">
                <td class='username' th:value="${step.getUser().getUsername()}" th:text="${step.user.username}">
                    Username
                </td>
                <td class="devicename" th:value="${step.getDevice().getDevicename()}"
                    th:text="${step.device.devicename }">Device name
                </td>
                <td class="startTime" th:value="${step.getStart()}" th:text="${step.start}"> Start Date</td>
                <td class="startTime" th:value="${step.getStartHour()}" th:text="${step.startHour}"> Start Hour</td>
                <td class="endTime" th:value="${step.getEnd()}" th:text="${step.end}">End Date</td>
                <td class="endTime" th:value="${step.getEndHour()}" th:text="${step.endHour}">End Hour</td>
                <td>
                    <a th:href="@{/device/info/{id}/(id=${step.getDevice().getId()})}" th:text="#{device.info}"
                       class="btn btn-primary"></a>
                </td>

                <td>
                    <a th:href="@{/planning/{id}/(id=${step.id})}"><span
                            class="fas fa-edit"></span></a>

                    <a th:href="@{/planning/{id}/delete(id=${step.id})}"
                       th:attr="onclick='return confirm(\'' + #{delete.confirm} + '\')'">
                        <span class="fas fa-trash" style="color: red"></span> </a>
                </td>
            </tr>
            <tr class='notfound' th:if="${userSteps.isEmpty()}">
                <td colspan='4' th:text="#{step.norecord}">No record found</td>
            </tr>
            </tbody>
        </table>

        <h5 sec:authorize="hasAuthority('Planning - Delete step/experiment own/promotor') or hasAuthority('Planning - Adjust step/experiment own/promotor')">
            <span th:text="#{step.student}"></span></h5>

        <table class="table table-hover"
               sec:authorize="hasAuthority('Planning - Delete step/experiment own/promotor') or hasAuthority('Planning - Adjust step/experiment own/promotor')">

            <thead>
            <tr>
                <th th:text="#{step.user.username}"></th>
                <th th:text="#{step.device.devicename}">Device Name</th>
                <th th:text="#{step.start}">Start Date</th>
                <th th:text="#{step.startHour}">Start Hour</th>
                <th th:text="#{step.end}">End Date</th>
                <th th:text="#{step.endHour}">End Hour</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <!-- IMPORTANT, class="list" have to be at tbody -->
            <tbody class="list" id="list-students">
            <tr th:each="step : ${studentSteps}">
                <td class="user" th:value="${step.getUser()}"
                    th:text="${step.getUser().getFirstName() + ' ' + step.getUser().getLastName()}"></td>
                <td class="devicename" th:value="${step.getDevice().getDevicename()}"
                    th:text="${step.device.devicename }">Device name
                </td>
                <td class="startTime" th:value="${step.getStart()}" th:text="${step.start}"> Start Date</td>
                <td class="startTime" th:value="${step.getStartHour()}" th:text="${step.startHour}"> Start Hour</td>
                <td class="endTime" th:value="${step.getEnd()}" th:text="${step.end}">End Date</td>
                <td class="endTime" th:value="${step.getEndHour()}" th:text="${step.endHour}">End Hour</td>
                <td>
                    <a th:href="@{/device/info/{id}/(id=${step.getDevice().getId()})}" th:text="#{device.info}"
                       class="btn btn-primary"></a>
                </td>
                <td>
                    <a th:href="@{/planning/{id}/(id=${step.id})}"><span
                            class="fas fa-edit"></span></a>

                    <a th:href="@{/planning/{id}/delete(id=${step.id})}"
                       th:attr="onclick='return confirm(\'' + #{delete.confirm} + '\')'">
                        <span class="fas fa-trash" style="color: red"></span> </a>
                </td>
                </td>

            </tr>
            <tr class='notfound' th:if="${studentSteps.isEmpty()}">
                <td colspan='4' th:text="#{step.norecord}">No record found</td>
            </tr>
            </tbody>
        </table>



        <table class="table table-hover">
            <thead>
            <h2> <span th:text="#{experiments}"></span></h2>
            <tr >
                <th th:text="#{step.user.username}"></th>
                <th th:text="#{experiment.name}">Experiment Name</th>
                <th th:text="#{experiment.type}">Experiment Type</th>
                <th th:text="#{step.start}">Start Date</th>
                <th th:text="#{step.end}">End Date</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <!-- IMPORTANT, class="list" have to be at tbody -->
            <tbody class="list" id="Experiment-list-User">
            <tr th:each="experiment : ${userExperiments}">

                <td class="userName" th:value="${experiment.getUser()}"
                    th:text="${experiment.getUser().getFirstName() + ' ' + experiment.getUser().getLastName()}"></td>
                <td class="experimentName" th:value="${experiment.getExperimentname()}" th:text="${experiment.getExperimentname()}" >Experiment name</td>
                <td class="experimentType" th:value="${experiment.getExperimentType().getExperimentTypeName()}" th:text="${experiment.getExperimentType().getExperimentTypeName()}">Experiment Type name</td>
                <td class="startTime" th:value="${experiment.getStartDate()}" th:text="${experiment.getStartDate()}"> Start Date</td>
                <td class="endTime" th:value="${experiment.getEndDate()}" th:text="${experiment.getEndDate()}"> End Date</td>
                <td>
                    <a th:href="@{/planning/experiments/book/info/{id}/(id=${experiment.id})}" th:text="#{experiment.info}" class="btn btn-primary"></a>
                </td>
                <td>
                    <a th:href="@{/planning/experiments/book/{id}/(id=${experiment.id})}"><span
                            class="fas fa-edit"></span></a>

                    <a th:href="@{/planning/experiments/book/{id}/delete(id=${experiment.id})}"  th:attr="onclick='return confirm(\'' + #{delete.confirm} + '\')'" >
                        <span class="fas fa-trash" style="color: red" ></span> </a>
                </td>
            </tr>
            <tr class='notfound' th:if="${userExperiments.isEmpty()}">
                <td colspan='4' th:text="#{experiment.norecord}">No record found</td>
            </tr>
            </tbody>
        </table>

        <h5 th:if="${!studentExperiments.isEmpty()}" sec:authorize="hasAuthority('Planning - Delete step/experiment own/promotor') or hasAuthority('Planning - Adjust step/experiment own/promotor')"> <span th:text="#{experiment.student}"></span></h5>

        <table th:if="${!studentExperiments.isEmpty()}" class="table table-hover"  sec:authorize="hasAuthority('Planning - Delete step/experiment own/promotor') or hasAuthority('Planning - Adjust step/experiment own/promotor')">
            <thead>
            <tr>
                <th th:text="#{step.user.username}"></th>
                <th th:text="#{experiment.name}">Experiment Name</th>
                <th th:text="#{experiment.type}">Experiment Type</th>
                <th th:text="#{step.start}">Start Date</th>
                <th th:text="#{step.end}">End Date</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <!-- IMPORTANT, class="list" have to be at tbody -->
            <tbody class="list" id="list-students">
            <tr th:each="experiment : ${studentExperiments}">
                <td class="user" th:value="${experiment.getUser()}" th:text="${experiment.getUser().getFirstName() + ' ' + experiment.getUser().getLastName()}"></td>
                <td class="experimentName" th:value="${experiment.getExperimentname()}" th:text="${experiment.getExperimentname()}" >Experiment name</td>
                <td class="experimentType" th:value="${experiment.getExperimentType().getExperimentTypeName()}" th:text="${experiment.getExperimentType().getExperimentTypeName()}">Experiment Type name</td>
                <td class="startTime" th:value="${experiment.getStartDate()}" th:text="${experiment.getStartDate()}"> Start Date</td>
                <td class="endTime" th:value="${experiment.getEndDate()}" th:text="${experiment.getEndDate()}"> End Date</td>
                <td>
                    <a th:href="@{/planning/experiments/book/info/{id}/(id=${experiment.id})}" th:text="#{experiment.info}" class="btn btn-primary"></a>
                </td>
                <td>
                    <a th:href="@{/planning/experiments/book/{id}/(id=${experiment.id})}"><span
                            class="fas fa-edit"></span></a>

                    <a th:href="@{/planning/experiments/book/{id}/delete(id=${experiment.id})}"  th:attr="onclick='return confirm(\'' + #{delete.confirm} + '\')'" >
                        <span class="fas fa-trash" style="color: red" ></span> </a>
                </td>

            </tr>
            <tr class='notfound' th:if="${studentExperiments.isEmpty()}" >
                <td colspan='4' th:text="#{experiment.norecord}">No record found</td>
            </tr>
            </tbody>
        </table>


        <a th:href="@{/planning/experiments}" type="button" class="btn btn-primary" th:text="#{experiment.types}">
            Experiment Types
        </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">New Step</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/planning/{id} (id=${Step})}" th:object="${Step}" method="post">
                    <div class="modal-body" style="height: 320px;">
                        <input th:field="*{id}" th:type="hidden"/>
                        <select required class=" form-control input-device" id="sel">
                            <option value="none" selected disabled hidden th:text="#{device.type}"> Device Type</option>
                            <option class="dropdown-item" th:each="deviceType : ${allDeviceTypes}"
                                    th:value="${deviceType.getId()}" th:text="${deviceType.getDeviceTypeName()}">Device
                                Type
                            </option>
                        </select>
                        <select required id="deviceNames" th:field="*{device}" class="form-control input-device"
                                style="visibility: hidden;">
                            <option value="none" selected disabled hidden>Device Name</option>
                        </select>
                        <div style="display: flow-root;">
                            <input required id="startTime" type="date" th:field="*{start}"
                                   class="form-control input-date" placeholder="Start date">
                            <input required id="startHour" type="time" class="form-control float-right input-hour"
                                   th:field="*{startHour}" placeholder="Hour">
                        </div>
                        <div>
                            <input required id="endTime" type="date" th:field="*{end}" class="form-control input-date"
                                   placeholder="End date">
                            <input required id="endHour" type="time" class="form-control float-right input-hour"
                                   th:field="*{endHour}" placeholder="Hour">
                        </div>
                        <div style="margin-top: 60px">
                            <div class="input-group">
                                <input type="text" class="form-control" th:field="*{comment}" placeholder="Comment" >
                            </div>
                        </div>
                        <div >
                            <select required id="mixtures" th:field="*{mixture}" class="form-control input-mixture">
                                <option value="" disabled th:selected="selected">Select Mixture</option>
                                <option class="dropdown-item" th:each="Amixture : ${allMixtures}" th:value="${Amixture.getId()}" th:text="${Amixture.getName()}">
                                    Mixture
                                </option>
                            </select>
<!--                            <input style="margin-left: 20px" th:type="number" th:field="*{amount}" placeholder="Amount"> <p style="color:#808080;margin-left: 30px">kg</p>-->
                            <div class="input-group float-right" style="width: 40%;margin-top: -38px;">
                                <input th:field="*{amount}" step="0.01" type="number" class="form-control" >
                                <div class="input-group-append">
                                    <span class="input-group-text" style="color:#808080">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</div>


</div>
<div th:replace="footer :: footer"></div>
</div>
</html>
