<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<head th:replace="navbar :: head (title='#{Experiment Management}')"></head>
<script th:inline="javascript">


    function addMixtureRow(mixtures) {
        console.log();
        var i = $('#mixtureList tr').length;

        var deviceOptions = null;
        for (let j = 0; j < mixtures.length; j++) {
            deviceOptions += '<option class="dropdown-item" value="' + mixtures[j].id + '" selected="selected">' + mixtures[j].name + '</option>'
        }
        $('#mixtureList')
            .append(
                '<tr>\n' +
                '   <th>\n' +
                '   <select required="" class=" form-control input-device" id="selectMixture" name="piecesOfMixture[' + i + '].mixture">' +
                '       <option hidden="" value="">Select mixture</option>' +
                deviceOptions +
                '   </select>' +
                '   </th>' +
                '   <th>' +
                '       <input class=" form-control input-device" placeholder="Amount of mixture" id="piecesOfMixture' + i + '.mixtureAmount" name="piecesOfMixture[' + i + '].mixtureAmount" required>' +
                '   </th>' +
                '   <th>' +
                '       <input class=" form-control input-device" placeholder="Mixture comment" id="piecesOfMixture' + i + '.mixtureComment" name="piecesOfMixture[' + i + '].mixtureComment">' +
                '   </th>' +
                '</tr>');
    }


    function removeMixtureRow() {

        var i = $('#mixtureList tr').length;
        if (i > 0) {
            document.getElementById("mixtureList").deleteRow(i - 1);
        }
    }

    function addStepsRows() {
        //reference table
        var experimentTypeId = $('#selectExperimentType :selected').val();

        //a = experimentType
        var a;
        var tableRef = document.getElementById('list');
        tableRef.innerHTML = "";
        let devices = [[${allDevices}]];
        let experimentTypes = [[${allExperimentTypes}]];
        for (let i = 0; i < experimentTypes.length; i++) {
            if (experimentTypeId == experimentTypes[i].id) {
                a = experimentTypes[i];
            }
        }
        for (let i = 0; i < a.stepTypes.length; i++) {
            var deviceOprions = '';
            for (let j = 0; j < devices.length; j++) {
                if (devices[j].deviceType.id == a.stepTypes[i].deviceType.id) {
                    deviceOprions += '<option class="dropdown-item" value="' + devices[j].id + '">'
                        + devices[j].devicename +
                        '</option>';
                }

            }
            $('#list')
                .append(
                    '<tr class="row' + i + '" id="row' + i + '">' +
                    '<td style="text-align:left;" value="' + a.stepTypes[i].id + '">' + a.stepTypes[i].stepTypeName + '</td>' +
                    '<td>' +
                    '<select required class=" form-control input-device" id="selectDevice" name="steps[' + i + '].device" style=" width: 110%;font-size:90%;">' +
                    '<option hidden selected disabled value="">Select device</option>' +
                    deviceOprions +
                    '</select>' +
                    '</td>' +
                    '<td>' +
                    '<input required style="width: 90%; font-size:80%;" required="" id="startDate" type="date" class="form-control input-date" placeholder="Start date" name="steps[' + i + '].start" value="' + moment().format('YYYY-MM-DD') + '">' +
                    '</td>' +
                    '<td>' +
                    '<input required style="width: 100%; font-size:80%;" type="time" id="startHour" class="form-control float-right input-hour" placeholder="Start hour" name="steps[' + i + '].startHour" value="11:00"  min="09:00" max="17:00">' +
                    '</td>' +
                    '<td>' +
                    '<input required style="width: 90%; font-size:80%; " required="" id="endDate" type="date" class="form-control input-date" placeholder="End date" name="steps[' + i + '].end" value="' + moment().format('YYYY-MM-DD') + '">' +
                    '</td>' +
                    '<td>' +
                    '<input required style="width: 100%; font-size:80%; " type="time" id="endHour" size="2" class="form-control float-right input-hour" placeholder="End hour" name="steps[' + i + '].endHour" value="12:00"  min="09:00" max="17:00" >' +
                    '</td> ' +
                    '<td style="width: 10%; font-size:80%; text-align:center" id="continuity" name="continuity" value=""> ' + a.stepTypes[i].continuity.hours + ':' + a.stepTypes[i].continuity.minutes + '<br />' + a.stepTypes[i].continuity.type + '' +
                    '</td> ' +
                    '<td>' +
                    '<input style="width: 100%; font-size:80%; " type="text" id="comment" class="form-control float-right" placeholder="comment" name="steps[' + i + '].comment" value="" >' +
                    '</td> ' +
                    '</tr>');
        }
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function removeRow(r) {
        $(r).closest('tr').remove();
    }
</script>
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

    #myInput {
        box-sizing: border-box;
        background-position: 14px 12px;
        background-repeat: no-repeat;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    #myInput:focus {
        outline: 3px solid #ddd;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>
<body>
<div class="container">
    <div th:replace="navbar :: navbar"></div>
    <form id="MyForm" action="#" th:action="@{/planning/experiments/book/{id}  (id=${{experiment}})}"
          th:object="${experiment}" method="post">
        <input th:field="*{id}" th:type="hidden"/>
        <input id="experimentType" th:type="hidden"
               th:field="*{experimentType}">


        <h3><span th:text="#{experiment.info}"></span></h3>
        <table class="table table-hover" style="text-align:center; font-size:90%;">
            <thead>
            <tr>
                <th th:text="#{experiment.type}">Experiment Type</th>
                <th th:text="#{experiment.name}">Experiment Name</th>
            </tr>
            </thead>
            <!-- IMPORTANT, class="list" have to be at tbody -->
            <tbody>

            <th>
                <select required class=" form-control input-device" id="selectExperimentType" onchange="addStepsRows()"
                        th:field="*{experimentType.id}">
                    <option selected hidden th:text="#{experiment.type.select}" value=""> Select
                        experiment type
                    </option>
                    <option class="dropdown-item"
                            th:each="experimentTypep : ${allExperimentTypes}"
                            th:value="${{experimentTypep}}"
                            th:text="${experimentTypep.getExperimentTypeName()}">
                    </option>
                </select>
            </th>
            <th>
                <input class=" form-control input-device" th:field="*{experimentname}" placeholder="Expirement Name"
                       required>
            </th>
            </tbody>
        </table>

        <h3><span th:text="#{mixture.info}"></span></h3>
        <table class="table table-hover" style="text-align:center; font-size:90%;">
            <thead>
            <tr>
                <th th:text="#{mixture}">Mixture</th>
                <th th:text="#{mixtures.amount}">Amount</th>
                <th>Comment</th>
            </tr>
            </thead>
            <!-- IMPORTANT, class="list" have to be at tbody -->
            <tbody id="mixtureList">
            <div th:if="(*{piecesOfMixture}!=null)">
                <tr th:each="mixture, itemStat : *{piecesOfMixture}">
                    <th>
                        <select required class=" form-control input-device" id="selectMixture"
                                th:field="*{piecesOfMixture[__${itemStat.index}__].mixture}">
                            <option selected hidden th:text="#{mixture.select}" value=""> Select mixture
                            </option>
                            <option class="dropdown-item"
                                    th:each="mixture  : ${allMixtures}"
                                    th:value="${{mixture}}"
                                    th:text="${mixture.name}">
                            </option>
                        </select>
                    </th>
                    <th>
                        <input class=" form-control input-device"
                               th:field="*{piecesOfMixture[__${itemStat.index}__].mixtureAmount}"
                               placeholder="Amount of mixture" required>
                    </th>
                    <th>
                        <input class=" form-control input-device"
                               th:field="*{piecesOfMixture[__${itemStat.index}__].mixtureComment}"
                               placeholder="Mixture comment">
                    </th>
                </tr>

            </div>
            </tbody>
        </table>
        <button style="margin-right: 10px;font-size: 90%" class="btn btn-primary "
                type="button"
                th:text="#{mixture.add}"
                th:onclick="addMixtureRow([[${allMixtures}]])">
        </button>

        <button style="margin-right: 10px;font-size: 90%" class="btn btn-outline-primary"
                type="button"
                th:text="#{mixture.remove}"
                th:onclick="removeMixtureRow()">
        </button>

        <h3><span th:text="#{step.info}"></span></h3>

        <table class="table table-hover" style=" font-size:100%; text-align:center;">

            <thead>
            <tr>
                <th>Step Type</th>
                <th>Device</th>
                <th>Start date</th>
                <th>Start time</th>
                <th>End date</th>
                <th>End time</th>
                <th>Continuity</th>
                <th>Comment</th>
            </tr>
            </thead>

            <!-- IMPORTANT, class="list" have to be at tbody -->
            <tbody id="list" class="list" style=" font-size:100%;">

            <div th:if="(*{experimentType}!=null)">

                <tr th:each="stepType, itemStat : *{experimentType.stepTypes}">
                    <input id="step" th:type="hidden"
                           th:field="*{{steps[__${itemStat.index}__]}}"
                           th:value="*{{steps[__${itemStat.index}__]}}">
                    <td style="text-align:left;"
                        th:text="${stepType.stepTypeName}" th:value="${{stepType}}"
                        th:field="*{steps[__${itemStat.index}__].stepType}">
                    </td>
                    <td>
                        <select style="width: 110%;font-size:90%;" class=" form-control input-device"
                                id="selectDevice"
                                th:field="*{steps[__${itemStat.index}__].device}">
                            <option hidden selected th:text="#{device.select}" value=""> Select device
                            </option>
                            <option th:each="device : ${allDevices}"
                                    th:if="${device.deviceType.id} == ${stepType.deviceType.id} " class="dropdown-item"
                                    th:value="${{device}}"
                                    th:text="${device.devicename}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <input required style="width: 90%; font-size:80%;" id="startDate" type="date"
                               th:field="*{steps[__${itemStat.index}__].start}"
                               class="form-control input-date"
                               placeholder="Start date">
                    </td>
                    <td>
                        <input required style="width: 100%; font-size:80%;" type="time" id="startHour"
                               class="form-control float-right input-hour"
                               th:value="*{steps[__${itemStat.index}__].startHour}"
                               th:field="*{steps[__${itemStat.index}__].startHour}" placeholder="Start hour">

                    </td>

                    <td>
                        <input required style="width: 90%; font-size:80%; " id="endDate" type="date"
                               th:value="*{steps[__${itemStat.index}__].end}"
                               th:field="*{steps[__${itemStat.index}__].end}"
                               class="form-control input-date"
                               placeholder="End date">
                    </td>
                    <td>
                        <input required style="width: 100%; font-size:80%; " type="time" id="endHour"
                               class="form-control float-right input-hour"
                               th:value="*{steps[__${itemStat.index}__].endHour}"
                               th:field="*{steps[__${itemStat.index}__].endHour}" placeholder="End hour">
                    </td>

                    <td style="width: 10%; font-size:80%; text-align:center" id="continuity" name="continuity"
                        th:utext="*{experimentType.stepTypes[__${itemStat.index}__].continuity.hours} + ':' + *{experimentType.stepTypes[__${itemStat.index}__].continuity.minutes}+
                        '<br />' + *{experimentType.stepTypes[__${itemStat.index}__].continuity.type}"
                    >
                    </td>
                    <td>
                        <input style="width: 100%; font-size:80%; " type="text" id="comment"
                               class="form-control float-right" placeholder="comment"
                               th:field="*{steps[__${itemStat.index}__].comment}">
                    </td>
                </tr>
            </div>
            </tbody>
        </table>

        <div>
            <a style="margin-right: 10px" href="/planning/" class="btn btn-outline-primary"
               th:text="#{experimentstype.return}">Return</a>
            <button style="margin-right: 10px" type="submit" class="btn btn-primary"
                    th:text="#{experiment.type.submit}">
                Submit
            </button>
        </div>
    </form>
</div>


</body>
</html>