<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navbar :: head (title='#{Planning Tool}')"></head>
<body onload = "initPage()">
<script type="text/javascript">
    function initPage(){

    }
</script>
<script th:inline="javascript">

    $(document).ready(function(){
        var status= /*[[${Status}]]*/ null;
        var messages =  /*[[${Message}]]*/ "";
        console.log(messages);
        if(status != null)
        {
            if (status=="Success")
                toastr.success(messages);
            if (status=="Error")
                toastr.error(messages);
        }

        $('.js-example-basic-single').select2();
        $('#sel').on('change', function() {
            var devices =  /*[[${allDevices}]]*/ {};
            console.log(this.value);
            $('#deviceNames')
                .empty()
                .append(' <option value="none" selected disabled hidden> Device Name </option>')
            ;
            var id = this.value;
            var count = 0;
            $.each( devices, function(key,device ) {
                if(id == device.deviceType.id){
                    count++;
                    optionText = device.devicename;
                    optionValue =  device.id;
                    $('#deviceNames').append($('<option>').val(optionValue).text(optionText));
                }});
            if (count == 0)
                $('#deviceNames')
                    .empty()
                    .append(' <option value="none" selected disabled hidden> No Device </option>');


        });

    });

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



<div class = "container">
    <div th:replace="navbar :: navbar"></div>
    <form action="#" th:action="@{/planning/{id}(id=${Step.id})}"
          th:object="${Step}" method="post">
        <input th:type="hidden" th:field="*{id}"/>


        <label class="control-label" th:text="#{device.type}"></label>
        <select required class=" form-control input-device"  id="sel" >
            <option th:value="none"  selected disabled hidden th:text="*{device.getDeviceType().getDeviceTypeName()}"> Device Type </option>
            <option class="dropdown-item"  th:each="deviceType : ${allDeviceTypes}" th:value="${deviceType.getId()}" th:text="${deviceType.getDeviceTypeName()}">Device Type</option>
        </select>

        <label class="control-label" th:text="#{device}"></label>
        <select required class=" form-control input-device"  id="deviceNames" th:field="*{device}">
<!--            <option class="dropdown-item"  th:each="device : ${allDevices}" th:value="${device.getId()}" th:text="${device.getDevicename()}">Device</option>-->
        </select>

        <label class="control-label" text="Start data">Start data</label>

        <div>
            <input required id="startTime" type="date" th:field="*{start}" class="form-control input-date" placeholder="Start date">
        </div>

        <label class="control-label" text="Start hour">Start Hour</label>

        <div>
        <input id="startHour" class="form-control float-right input-hour" th:field="*{startHour}" placeholder="Hour">
        </div>

        <label class="control-label" text="End data">End data</label>

        <div>
            <input required id="endTime" type="date" th:field="*{end}" class="form-control input-date"  placeholder="End date">
        </div>

        <label class="control-label" text="End hour">End Hour</label>

        <div>
            <input id="endHour" class="form-control float-right input-hour" th:field="*{endHour}" placeholder="Hour">
        </div>

        <!--        <div class="alert alert-danger" role="alert" th:if="${UserInUse}!=null" th:text="${UserInUse}"></div>-->

        <p>
            <button type="submit" th:text="#{save}" class="btn btn-outline-primary">Save</button>
            <a href="/usermanagement/users" th:text="#{close}" class="btn btn-secondary">Close</a>

        </p>
    </form>




</div>
</body>
</html>