<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--################################################################################-->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    ${CONSOLE_LOG_PATTERN}
                </pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>

        <appender name="RollingFileDev" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>devLog</file>
            <encoder
                    class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </encoder>

            <rollingPolicy
                    class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily and when the file reaches 10 MegaBytes -->
                <fileNamePattern>
                    ${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
                </fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
        </appender>

        <!-- root defines the default level -->
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="RollingFileDev"/>
        </root>

        <!-- Define logger level for a specific package/class -->
        <!-- Level can not be lower than root. Filters out classes in between root level and this level.
            ex: root = INFO, this level = ERROR will only show error messages and no info. -->
        <logger name="be.uantwerpen.labplanner.Controller.HomeController">
            <level value="ERROR" />
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="RollingFileDev"/>
        </logger>
    </springProfile>
    <!--################################################################################-->
    <springProfile name="default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    ${CONSOLE_LOG_PATTERN}
                    <charset>utf8</charset>
                </pattern>
            </encoder>
        </appender>

        <appender name="RollingFileProd" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>prodLog</file>
            <encoder
                    class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </encoder>

            <rollingPolicy
                    class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily and when the file reaches 10 MegaBytes -->
                <fileNamePattern>
                    ${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
                </fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="RollingFileProd"/>
        </root>
    </springProfile>
    <!--################################################################################-->
</configuration>