<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="navbar :: head (title='#{deviceTypes}')"></head>
<body onload="initPage()">
<script type="text/javascript">
    function initPage(){
        var options = {
            valueNames: [ 'deviceTypeName']
        };
        var deviceTypesList = new List('deviceTypes', options);
    }
</script>
<style>
    .notfound{
        display: none;
    }
</style>
<script>
    $(document).ready(function(){
        // Search on name column only
        $('#txt_name').keyup(function(){
            // Search Text
            var search = $(this).val();

            // Hide all table tbody rows
            $('table tbody tr').hide();

            // Count total search result
            var len = $('table tbody tr:not(.notfound) td:nth-child(1):contains("'+search+'")').length;

            if(len > 0){
                // Searching text in columns and show match row
                $('table tbody tr:not(.notfound) td:nth-child(1):contains("'+search+'")').each(function(){
                    $(this).closest('tr').show();
                });
            }else{
                $('.notfound').show();
            }

        });

    });

    // Case-insensitive searching (Note - remove the below script for Case sensitive search )
    $.expr[":"].contains = $.expr.createPseudo(function(arg) {
        return function( elem ) {
            return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
        };
    });
</script>
<div class="container">
    <!-- Import menu bar -->
    <div th:replace="navbar :: navbar"></div>
    <div class="content">
        <div id="tag-list">
            <input type='text' id='txt_name' th:placeholder="#{product.tag.search}">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{product.tag}">Product Tag Name</th>
                </tr>
                </thead>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list">
                <tr th:each="tag : ${allProductTags}">
                    <td class='deviceTypeName' th:value="${tag.getName()}"
                        th:text="${tag.name}" >Tag Name</td>
                    <td>
                        <a th:href="@{/tags/{id}/(id=${tag.id})}"><span
                                class="fas fa-edit"></span></a>&nbsp;
                        <a th:href="@{/tags/{id}/delete(id=${tag.id})}">
                            <span class="fas fa-trash"></span></a>
                    </td>
                </tr>
                <tr class='notfound'>
                    <td colspan='4' th:text="#{tag.norecord}">No record found</td>
                </tr>
                </tbody>
            </table>
            <a href="/products" class="btn btn-primary" th:text="#{product.return}" >Return to products</a>
            <a href="/tags/put" type="button" class="btn btn-outline-primary"th:text="#{tag.create}">
                Create new tag
            </a>



        </div>
    </div>
</div>
<div th:replace="footer :: footer"></div>

</body>
</html>