<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Import header -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<head>
    <div th:insert="navbar :: head"></div>

    <meta http-equiv="content-type" content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}"/>
    <link rel='stylesheet' href='https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css'>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css"/>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>


<!-- Import menu bar -->
<div id="lnb">
    <input id="contextpath" th:value="@{/}" th:type="hidden"/>


    <div class="lnb-new-schedule">
            <a type="button" th:href="@{/planning/}" class="btn btn-default btn-block lnb-new-schedule-btn "  id="btn-new-schedule" style="background-color:#6c757d;" th:text="#{calendar.booking}" >
                Go to booking
            </a>
    </div>
    <select sec:authorize="hasAuthority('Console Access')" id="steps-items" style="background-color: #007bff;">
        <option value="1" th:text="#{steps.personal}">Show personal steps</option>
        <option value="2" th:text="#{steps.other}">Show other steps</option>
        <option value="3" th:text="#{steps.both}">Show both</option>
    </select>
    <div id="lnb-calendars" class="lnb-calendars">
        <div>
            <div class="lnb-calendars-item">
                <label>
                    <input class="tui-full-calendar-checkbox-square" type="checkbox" value="all" checked>
                    <span></span>
                    <strong th:text="#{calendar.all}">View all</strong>
                </label>
            </div>
        </div>
        <div id="calendarList" class="lnb-calendars-d1">
        </div>
    </div>
</div>
<div id="right">
    <div id="menu">
        <span class="dropdown">
                        <button id="dropdownMenu-calendarType" class="btn btn-default btn-sm dropdown-toggle"
                                type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            <i id="calendarTypeIcon" class="calendar-icon ic_view_month" style="margin-right: 4px;"></i>
                            <span id="calendarTypeName" th:text="#{calendar.view}">Dropdown</span>&nbsp;
                            <i class="calendar-icon tui-full-calendar-dropdown-arrow"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-calendarType">
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-daily">
                                    <i class="calendar-icon ic_view_day" ></i><small th:text="#{calendar.daily}"></small>
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weekly">
                                    <i class="calendar-icon ic_view_week" ></i><small th:text="#{calendar.weekly}"></small>
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-monthly">
                                    <i class="calendar-icon ic_view_month" ></i><small th:text="#{calendar.month}"></small>
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks2">
                                    <i class="calendar-icon ic_view_week" ></i><small th:text="#{week.two}"></small>
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks3">
                                    <i class="calendar-icon ic_view_week" ></i><small th:text="#{week.three}"></small>
                                </a>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation">
                                <a role="menuitem" data-action="toggle-workweek">
                                    <input type="checkbox" class="tui-full-calendar-checkbox-square"
                                           value="toggle-workweek" checked>
                                    <span class="checkbox-title" ></span><small th:text="#{weekends}"></small>
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" data-action="toggle-start-day-1">
                                    <input type="checkbox" class="tui-full-calendar-checkbox-square"
                                           value="toggle-start-day-1">
                                    <span class="checkbox-title" ></span><small th:text="#{week.start}"></small>
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" data-action="toggle-narrow-weekend">
                                    <input type="checkbox" class="tui-full-calendar-checkbox-square"
                                           value="toggle-narrow-weekend">
                                    <span class="checkbox-title" ></span><small th:text="#{week.narrow}"></small>
                                </a>
                            </li>
                        </ul>
                    </span>
        <span id="menu-navi">
                        <button type="button" class="btn btn-default btn-sm move-today"
                                data-action="move-today" th:text="#{calendar.today}">Today</button>
                        <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
                            <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
                            <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
                        </button>
                    </span>
        <span id="renderRange" class="render-range"></span>
    </div>
    <div id="calendar"></div>
</div>
<div class="container" >
    <div id="navbar" th:replace="navbar :: navbar" style="background-color: #ffffff"></div>
</div>
<!-- Add the attributes so they are accessible in the scripts -->
<script th:inline="javascript">
    let devices = [[${allDevices}]];
    let deviceTypes = [[${allDeviceTypes}]];
    let userSteps = [[${userSteps}]]
    let otherSteps = [[${otherSteps}]]
    let usernames = [[${otherStepsUsernames}]]
    document.getElementById("myNavbar").style.backgroundColor = "#ffffff";
    let translations = {
        problem: [[#{calendar.summary.problem}]],
        success: [[#{calendar.summary.suggestion}]],
        othersteps: [[#{calendar.summary.other.items}]],
        personalsteps: [[#{calendar.summary,personal.items}]],
        outofofficehours: [[#{calendar.error.outofofficehours}]],
        suggestion: [[#{calendar.summary.suggestion}]],
        cantbookpast: [[#{calendar.error.cantbookpast}]],
        holiday: [[#{calendar.error.holiday}]],
        weekend: [[#{calendar.error.weekend}]],
        overnight: [[#{calendar.error.overnight}]],
        atmostbeforeone: [[#{calendar.error.atmost.before.one}]],
        atmostbeforetwo: [[#{calendar.error.atmost.before.two}]],
        atmostafterone: [[#{calendar.error.atmost.after.one}]],
        atmostaftertwo: [[#{calendar.error.atmost.after.two}]],
        atleastbeforeone: [[#{calendar.error.atleast.before.one}]],
        atleastbeforetwo: [[#{calendar.error.atleast.before.two}]],
        atleastafterone: [[#{calendar.error.atleast.after.one}]],
        atleastaftertwo: [[#{calendar.error.atleast.after.two}]],
        hardbeforeone: [[#{calendar.error.hard.before.one}]],
        hardbeforetwo: [[#{calendar.error.hard.before.two}]],
        hardafterone: [[#{calendar.error.hard.after.one}]],
        hardaftertwo: [[#{calendar.error.hard.after.two}]],
        beforeprevious: [[#{calendar.error.before.previous}]],
        lengthequal: [[#{calendar.error.length.equal}]],
        lengthatmost: [[#{calendar.error.length.atmost}]],
        lengthatleast: [[#{calendar.error.length.atleast}]],
        long: [[#{calendar.error.long}]],
        bodysuggestion: [[#{calendar.body.suggestion}]],
        user: [[#{calendar.body.user}]],
        name: [[#{calendar.body.name}]],
        type: [[#{calendar.body.type}]],
        comment: [[#{calendar.body.comment}]],
        noavailable: [[#{calendar.body.noavailable}]],
        noproblems: [[#{calendar.body.noproblems}]],
        align: [[#{calendar.ui.align}]],
        time: [[#{calendar.ui.time }]],
        continuity: [[#{calendar.ui.continuity}]],
        length: [[#{calendar.ui.length}]],
        none: [[#{calendar.ui.none}]],
        finish: [[#{calendar.ui.finish}]],
        device: [[#{calendar.body.device}]],
        step: [[#{calendar.body.step}]],
        after: [[#{calendar.step.after}]],
        before: [[#{calendar.step.before}]],
        atleast: [[#{calendar.step.atleast}]],
        atmost: [[#{calendar.step.atmost}]],
        hard: [[#{calendar.step.hard}]],
        mon: [[#{calendar.week.mon}]],
        tue: [[#{calendar.week.tue}]],
        wed: [[#{calendar.week.wed}]],
        thu: [[#{calendar.week.thu}]],
        fri: [[#{calendar.week.fri}]],
        sat: [[#{calendar.week.sat}]],
        sun: [[#{calendar.week.sun}]],
    }
</script>

<!-- Add all extra library script-->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
<script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>
<script th:src="@{/dist/tui-calendar.js}"></script>

<!--Add the necessary custom scripts for the calendar -->
<script th:src="@{/js/userCalendar.js}" type="text/javascript"></script>
<script th:src="@{/js/calendars.js}" type="text/javascript"></script>
<script th:src="@{/js/app.js}" type="text/javascript"></script>

</body>
</html>
