<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" media="screen" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta http-equiv="content-type"
          content="text/html; charset=utf-8; width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css'>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css"/>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css"/>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <script src="/webjars/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div id="navbar" th:replace="navbar :: navbar"></div>
</div>

<!-- Import menu bar -->
<div id="lnb">
    <div class="lnb-new-schedule">
        <button id="btn-new-schedule" type="button" class="btn btn-default btn-block lnb-new-schedule-btn"
                data-toggle="modal">
            New schedule
        </button>
    </div>
    <div id="lnb-calendars" class="lnb-calendars">
        <div>
            <div class="lnb-calendars-item">
                <label>
                    <input class="tui-full-calendar-checkbox-square" type="checkbox" value="all" checked>
                    <span></span>
                    <strong>View all</strong>
                </label>
            </div>
        </div>
        <div id="calendarList" class="lnb-calendars-d1">
        </div>
    </div>
    <div th:replace="footer :: footer"></div>

</div>
<div id="right">
    <div id="menu">
        <span class="dropdown">
                        <button id="dropdownMenu-calendarType" class="btn btn-default btn-sm dropdown-toggle"
                                type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            <i id="calendarTypeIcon" class="calendar-icon ic_view_month" style="margin-right: 4px;"></i>
                            <span id="calendarTypeName">Dropdown</span>&nbsp;
                            <i class="calendar-icon tui-full-calendar-dropdown-arrow"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-calendarType">
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-daily">
                                    <i class="calendar-icon ic_view_day"></i>Daily
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weekly">
                                    <i class="calendar-icon ic_view_week"></i>Weekly
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-monthly">
                                    <i class="calendar-icon ic_view_month"></i>Month
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks2">
                                    <i class="calendar-icon ic_view_week"></i>2 weeks
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks3">
                                    <i class="calendar-icon ic_view_week"></i>3 weeks
                                </a>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation">
                                <a role="menuitem" data-action="toggle-workweek">
                                    <input type="checkbox" class="tui-full-calendar-checkbox-square"
                                           value="toggle-workweek" checked>
                                    <span class="checkbox-title"></span>Show weekends
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" data-action="toggle-start-day-1">
                                    <input type="checkbox" class="tui-full-calendar-checkbox-square"
                                           value="toggle-start-day-1">
                                    <span class="checkbox-title"></span>Start Week on Monday
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" data-action="toggle-narrow-weekend">
                                    <input type="checkbox" class="tui-full-calendar-checkbox-square"
                                           value="toggle-narrow-weekend">
                                    <span class="checkbox-title"></span>Narrower than weekdays
                                </a>
                            </li>
                        </ul>
                    </span>
        <span id="menu-navi">
                        <button type="button" class="btn btn-default btn-sm move-today"
                                data-action="move-today">Today</button>
                        <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
                            <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
                            <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
                        </button>
                    </span>
        <span id="renderRange" class="render-range"></span>
    </div>
    <div id="calendar"></div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popp
er.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src='https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js'></script>


<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>


<script src="/js/data/calendars.js"></script>
<script th:inline="javascript">

    'use strict';

    /* eslint-disable require-jsdoc */
    /* eslint-env jquery */
    /* global moment, tui, chance */
    /* global findCalendar, CalendarList, ScheduleList, generateSchedule */

    /*eslint-disable*/
    var ScheduleList = [];

    var SCHEDULE_CATEGORY = [
        'milestone',
        'task'
    ];

    function ScheduleInfo() {
        this.id = null;
        this.calendarId = null;

        this.title = null;
        this.body = null;
        this.isAllday = false;
        this.start = null;
        this.end = null;
        this.category = '';
        this.dueDateClass = '';

        this.color = null;
        this.bgColor = null;
        this.dragBgColor = null;
        this.borderColor = null;
        this.customStyle = '';

        this.isFocused = false;
        this.isPending = false;
        this.isVisible = true;
        this.isReadOnly = false;
        this.goingDuration = 0;
        this.comingDuration = 0;
        this.recurrenceRule = '';
        this.state = '';

        this.raw = {
            memo: '',
            hasToOrCc: false,
            hasRecurrenceRule: false,
            location: null,
            class: 'public', // or 'private'
            creator: {
                name: '',
                avatar: '',
                company: '',
                email: '',
                phone: ''
            }
        };
    }

    function generateTime(schedule, renderStart, renderEnd) {
        var startDate = moment(renderStart.getTime())
        var endDate = moment(renderEnd.getTime());
        var diffDate = endDate.diff(startDate, 'days');

        schedule.isAllday = chance.bool({likelihood: 30});
        if (schedule.isAllday) {
            schedule.category = 'allday';
        } else if (chance.bool({likelihood: 30})) {
            schedule.category = SCHEDULE_CATEGORY[chance.integer({min: 0, max: 1})];
            if (schedule.category === SCHEDULE_CATEGORY[1]) {
                schedule.dueDateClass = 'morning';
            }
        } else {
            schedule.category = 'time';
        }

        startDate.add(chance.integer({min: 0, max: diffDate}), 'days');
        startDate.hours(chance.integer({min: 0, max: 23}))
        startDate.minutes(chance.bool() ? 0 : 30);
        schedule.start = startDate.toDate();

        endDate = moment(startDate);
        if (schedule.isAllday) {
            endDate.add(chance.integer({min: 0, max: 3}), 'days');
        }

        schedule.end = endDate
            .add(chance.integer({min: 1, max: 4}), 'hour')
            .toDate();

        if (!schedule.isAllday && chance.bool({likelihood: 20})) {
            schedule.goingDuration = chance.integer({min: 30, max: 120});
            schedule.comingDuration = chance.integer({min: 30, max: 120});
            ;

            if (chance.bool({likelihood: 50})) {
                schedule.end = schedule.start;
            }
        }
    }

    function generateNames() {
        var names = [];
        var i = 0;
        var length = chance.integer({min: 1, max: 10});

        for (; i < length; i += 1) {
            names.push(chance.name());
        }

        return names;
    }

    function generateRandomSchedule(calendar, renderStart, renderEnd) {
        var schedule = new ScheduleInfo();

        schedule.id = chance.guid();
        schedule.calendarId = calendar.id;

        schedule.title = chance.sentence({words: 3});
        schedule.body = chance.bool({likelihood: 20}) ? chance.sentence({words: 10}) : '';
        schedule.isReadOnly = chance.bool({likelihood: 20});
        generateTime(schedule, renderStart, renderEnd);

        schedule.isPrivate = chance.bool({likelihood: 10});
        schedule.location = chance.address();
        schedule.attendees = chance.bool({likelihood: 70}) ? generateNames() : [];
        schedule.recurrenceRule = chance.bool({likelihood: 20}) ? 'repeated events' : '';
        schedule.state = chance.bool({likelihood: 20}) ? 'Free' : 'Busy';
        schedule.color = calendar.color;
        schedule.bgColor = calendar.bgColor;
        schedule.dragBgColor = calendar.dragBgColor;
        schedule.borderColor = calendar.borderColor;

        if (schedule.category === 'milestone') {
            schedule.color = schedule.bgColor;
            schedule.bgColor = 'transparent';
            schedule.dragBgColor = 'transparent';
            schedule.borderColor = 'transparent';
        }

        schedule.raw.memo = chance.sentence();
        schedule.raw.creator.name = chance.name();
        schedule.raw.creator.avatar = chance.avatar();
        schedule.raw.creator.company = chance.company();
        schedule.raw.creator.email = chance.email();
        schedule.raw.creator.phone = chance.phone();

        if (chance.bool({likelihood: 20})) {
            var travelTime = chance.minute();
            schedule.goingDuration = travelTime;
            schedule.comingDuration = travelTime;
        }

        ScheduleList.push(schedule);

        alert(schedule.start.toString());
    }

    /*<![CDATA[*/
    function generateSchedule(viewName, renderStart, renderEnd) {
        ScheduleList = [];
        CalendarList.forEach(function (calendar) {


            let startHours = [];
            let endHours = [];
            let startDates = [];
            let endDates = [];
            let ids = [];
            let users = [];
            let devices = [];
            let start = [];
            let end = [];
            let devicesNames = [];
            let devicesTypes = [];
            let devicesComments = [];

            /*[# th:each="n : ${allSteps}"]*/
            startHours.push("[(${n.getStartHour()})]");
            endHours.push("[(${n.getEndHour()})]");
            startDates.push("[(${n.getStart()})]");
            endDates.push("[(${n.getEnd()})]");
            ids.push("[(${n.getId()})]");
            users.push("[(${n.getUser()})]");
            devices.push("[(${n.getDevice()})]");
            devicesNames.push("[(${n.getDevice().getDevicename()})]");
            devicesTypes.push("[(${n.getDevice().getDeviceType().getDeviceTypeName()})]");
            devicesComments.push("[(${n.getDevice().getComment()})]");

            /*[/]*/
            var i = 0;
            for (; i < startHours.length; i += 1) {


                start.push(startDates[i] + 'T' + startHours[i])
                end.push(endDates[i] + 'T' + endHours[i])
                /*
                alert(startHours.toString() + '\n'
                    + 'start - ' + endHours[i]+ '\n'
                    + 'end -   ' + endHours[i] + '\n'
                    + 'start   ' + startDates[i] + '\n'
                    + 'end     ' + endDates[i] + '\n');
                */
                var schedule = new ScheduleInfo();
                schedule.isAllday = false;
                schedule.category = 'time';
                schedule.start = new Date(start[i]);
                schedule.end = new Date(end[i]);
                schedule.id = chance.guid();
                schedule.calendarId = ids[i];

                schedule.title = 'Schedule ' + ids[i];
                schedule.body =
                    'name:    ' + devicesNames[i] + "<br>"
                    + 'type:    ' + devicesTypes[i] + "<br>"
                    + 'comment: ' + devicesComments[i] + "<br>";
                /*
                schedule.isReadOnly = chance.bool({likelihood: 20});


                schedule.isPrivate = chance.bool({likelihood: 10});
                schedule.location = chance.address();
                schedule.attendees = chance.bool({likelihood: 70}) ? generateNames() : [];
                schedule.recurrenceRule = chance.bool({likelihood: 20}) ? 'repeated events' : '';
                schedule.state = chance.bool({likelihood: 20}) ? 'Free' : 'Busy';
                */
                schedule.color = calendar.color;
                schedule.bgColor = calendar.bgColor;
                schedule.dragBgColor = calendar.dragBgColor;
                schedule.borderColor = calendar.borderColor;

                if (schedule.category === 'milestone') {
                    schedule.color = schedule.bgColor;
                    schedule.bgColor = 'transparent';
                    schedule.dragBgColor = 'transparent';
                    schedule.borderColor = 'transparent';
                }
                /*
                schedule.raw.memo = chance.sentence();
                schedule.raw.creator.name = chance.name();
                schedule.raw.creator.avatar = chance.avatar();
                schedule.raw.creator.company = chance.company();
                schedule.raw.creator.email = chance.email();
                schedule.raw.creator.phone = chance.phone();
                */
                ScheduleList.push(schedule);
                /*
                alert('start - ' + schedule.start.toString() + '\n'
                    + 'start - ' + start[0] + '\n'
                    + 'end -   ' + schedule.end.toString() + '\n'
                    + 'end -   ' + end[0] + '\n'
                    + 'cal. id-' + schedule.calendarId.toString() + '\n');
                */
            }

        });
    }

    /*]]>*/


</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>
