<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navbar :: head (title='#{Role Management}')"></head>
<body onload = "initPage()">
<script type="text/javascript">
    function initPage(){
        $('#privileges').multiSelect({
            selectableHeader: '<div class="custom-header" th:text="#{selectable.items}"></div>',
            selectionHeader: '<div class="custom-header" th:text="#{selected.items}"></div>'
        });
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>

<div class = "container">
    <div th:replace="navbar :: navbar"></div>
    <form action="#" th:action="@{/usermanagement/roles/{id}(id=${role.id})}"
          th:object="${role}" method="post">
        <input th:type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label class="control-label" th:text="#{roles.name}"></label>
            <input class="form-control" type = text th:field="*{name}" required/>

        </div>
        <div class="alert alert-danger" role="alert" th:if="${roleInUse}!=null" th:text="${roleInUse}"></div>


        <div>
            <label class="control-label" th:text="#{roles.privileges}"></label>
        </div>
        <div>
            <input type="checkbox" onclick="toggle(this);" /> <b>Check all?</b><br />
        </div>
        <div class="form-check">

            <input th:field ="*{privileges}" class="form-check-input" type="checkbox"
                   th:each="privilege : ${allPrivileges}"
                   th:value="${{privilege}}"
                   th:utext="${privilege.name} + '<br>'">
        </div>
        <p>
            <button type="submit" th:text="#{save}" class="btn btn-outline-primary">Save</button>
            <a th:href="@{/usermanagement/roles}" th:text="#{close}" class="btn btn-secondary">Close</a>

        </p>
    </form>




</div>
</body>
</html>