<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navbar :: head (title='#{User Management}')">
    <style type="text/css">

        input:required:invalid, input:focus:invalid {
            background-position: right top;
            background-repeat: no-repeat;
            background-color: #d95614;
        }
        input:required:valid {
            background-image: url(/images/valid.png);
            background-position: right top;
            background-repeat: no-repeat;
            background-color: #3e8e41;
        }

    </style>
</head>
<body onload = "initPage()">
<script type="text/javascript">
    function initPage(){
        $('#roles').multiSelect({
            selectableHeader: '<div class="custom-header" th:text="#{selectable.items}"></div>',
            selectionHeader: '<div class="custom-header" th:text="#{selected.items}"></div>'
        });
        -

        if ($("Researcher").is(':checked')) {
            $('.tab1_btn').prop('disabled', false);
        } else {
            $('.tab1_btn').prop('disabled', true);
        }
    }
</script>

<script type="text/javascript">

    // polyfill for RegExp.escape
    if(!RegExp.escape) {
        RegExp.escape = function(s) {
            return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
        };
    }

</script>

<script type="text/javascript">

    // polyfill for RegExp.escape
    if(!RegExp.escape) {
        RegExp.escape = function(s) {
            return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
        };
    }

</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    function myFunction() {
        var x = document.getElementById("pwd2");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>


<script type="text/javascript">

    function checkPassword(str)
    {
        var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/;
        return re.test(str);
    }

    function checkForm(form)
    {
        if(form.username.value == "") {
            alert("Error: Username cannot be blank!");
            form.username.focus();
            return false;
        }
        re = /^\w+$/;
        if(!re.test(form.username.value)) {
            alert("Error: Username must contain only letters, numbers and underscores!");
            form.username.focus();
            return false;
        }
        if(form.pwd1.value != "" && form.pwd1.value == form.pwd2.value) {
            if(!checkPassword(form.pwd1.value)) {
                alert("The password you have entered is not valid!");
                form.pwd1.focus();
                return false;
            }
        } else {
            alert("Error: Please check that you've entered and confirmed your password!");
            form.pwd1.focus();
            return false;
        }
        return true;
    }

</script>

<div class = "container">
    <div th:replace="navbar :: navbar"></div>

    <h1 th:text="#{users.changePW}"/>
    <form action="#" th:action="@{/usermanagement/users/{id}(id=${user})}" onsubmit="return checkForm(this);"
          th:object="${user}" method="post">
        <input th:type="hidden" th:field="*{id}"/>
        <input th:type="hidden" th:field="*{firstName}"/>

        <input th:type="hidden" th:field="*{lastName}"/>

        <input class="form-control" id="txt_username" name="txt_username" th:type="hidden" th:field="*{username}" required/>

        <div class="form-group" th:name="PassWord" >
            <label class="control-label" th:text="#{users.password}"></label>

            <input class="form-control"  th:title="#{users.passwordCorrect}" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" id="pwd1" onchange="
  this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
  if(this.checkValidity()) form.pwd2.pattern = RegExp.escape(this.value);
" th:name="pword" text th:field="*{password}">

            <p/>

            <label class="control-label" th:text="#{users.passwordConfirm}"></label>

            <input class="form-control" title="Please enter the same Password as above" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" id="pwd2" onchange="
  this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
">

            <p/>


            <input type="checkbox" th:text="#{users.passwordBox}" onclick="myFunction()">


        </div>

</p>


            <input th:field ="*{roles}" class="form-check-input" th:type="hidden"/>



            <input class="form-control" th:type="hidden" th:field="*{email}"/>

            <input class="form-control" th:type="hidden" th:field="*{uaNumber}"/>

            <input class="form-control" th:type="hidden" th:field="*{telephone}"/>


            <input class="form-control" th:type="hidden" th:field="*{location}"/>

        <p>
            <button type="submit" name="UserSave" th:text="#{save}" class="btn btn-outline-primary">Save</button>
            <a href="/usermanagement/users" th:text="#{close}" class="btn btn-secondary">Close</a>

        </p>
    </form>
</div>
</body>
</html>

