<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navbar :: head (title='#{User Management}')"></head>
<body onload = "initPage()">
<script type="text/javascript">
    function initPage(){
        $('#roles').multiSelect({
            selectableHeader: '<div class="custom-header" th:text="#{selectable.items}"></div>',
            selectionHeader: '<div class="custom-header" th:text="#{selected.items}"></div>'
        });
        -

        if ($("Researcher").is(':checked')) {
            $('.tab1_btn').prop('disabled', false);
        } else {
            $('.tab1_btn').prop('disabled', true);
        }
    }
</script>

<script>
    $(document).ready(function(){
        goFurther();
    });
</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source) {
                checkboxes[i].checked = source.checked;

            }

        }
        goFurther();

    }
</script>

<script type="text/javascript">
    function goFurther(){
        if (document.getElementById("Researcher").checked == true)
            document.getElementById("btnSelectStudents").disabled = false;
        else
            document.getElementById("btnSelectStudents").disabled = true;
    }
</script>

<div class = "container">
<div th:replace="navbar :: navbar"></div>
    <form action="#" th:action="@{/usermanagement/users/{id}(id=${user.id})}"
          th:object="${user}" method="post">
        <input th:type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label class="control-label" th:text="#{users.firstName}"></label>
            <input class="form-control" type = text th:field="*{firstName}"/>

        </div>
        <div class="form-group">
            <label class="control-label" th:text="#{users.lastName}"></label>
            <input class="form-control" type = text th:field="*{lastName}"/>

        </div>
        <div class="form-group" th:name="UserName" >
            <label class="control-label" th:text="#{users.username}"></label>
            <input class="form-control" id="txt_username" name="txt_username" type = text th:field="*{username}" required
            />

        </div>
        <div class="alert alert-danger" role="alert" th:if="${UserInUse}!=null" th:text="${UserInUse}"></div>

        <div hidden class="form-group" th:name="PassWord" >
            <label class="control-label" th:text="#{users.password}"></label>
            <input class="form-control" th:name="pword" text th:field="*{password}" required readonly/>

        </div>

        <div>
            <label class="control-label" th:text="#{users.roles}"></label>
        </div>
        <div>
            <input type="checkbox" onclick="toggle(this);" /> <b>Check all?</b><br />
        </div>
        <div class="form-check">
            <input th:field ="*{roles}" class="form-check-input" type="checkbox"
                   th:each="role : ${allRoles}"
                   th:id="${{role.name}}"
                   th:value="${{role}}"
                   th:utext="${role.name} + '<br>'"
            onclick="goFurther()">
        </div>

        <p></p>
<!--        <div>-->
<!--            <input class="btn btn-primary" type="button" data-toggle="modal" data-target="#studentSelectModal" id="btnSelectStudents" th:value="#{users.selectStudents}" disabled  >-->
<!--        </div>-->
        <p></p>
        <div class="form-group">
            <label class="control-label" th:text="#{users.email}"></label>
            <input class="form-control" type = text th:field="*{email}"/>

        </div>
        <div class="form-group">
            <label class="control-label" th:text="#{users.uaNumber}"></label>
            <input class="form-control" type = text th:field="*{uaNumber}"/>

        </div>
        <div class="form-group">
            <label class="control-label" th:text="#{users.telephone}"></label>
            <input class="form-control" type = text th:field="*{telephone}"/>

        </div>
        <div class="form-group">
            <label class="control-label" th:text="#{users.location}"></label>
            <input class="form-control" type = text th:field="*{location}"/>

        </div>
        <p>
            <button type="submit" name="UserSave" th:text="#{save}" class="btn btn-outline-primary">Save</button>
            <a href="/usermanagement/users" th:text="#{close}" class="btn btn-secondary">Close</a>

        </p>
    </form>
</div>
</body>
</html>