<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navbar :: head (title='#{homepage}')"></head>
<body>

<div class ="container" >
    <div th:replace="navbar :: navbar"></div>

    <h1> Welcome <span th:text="${currentUser}"></span></h1>
    <a  sec:authorize="hasAuthority('Console Access')" th:href="@{/reports/list}" th:text="#{report.list} + ' ('+${reportAmount}+')'" class="btn btn-primary"></a>
    <a  th:href="@{/reports/put}" th:text="#{report.problem}" class="btn btn-primary"></a>
    <a  sec:authorize="hasAuthority('Console Access')" th:href="@{/registrations}" th:text="#{registrations} + ' ('+${registrationAmount}+')'" class="btn btn-primary"></a>


    <table class="table table-hover">
        <thead>
        <h2> <span th:text="#{steps}"></span></h2>
        <tr>
            <th th:text="#{step.device.devicename}">Device Name</th>
            <th th:text="#{step.start}">Start Date</th>
            <th th:text="#{step.startHour}">Start Hour</th>
            <th th:text="#{step.end}">End Date</th>
            <th th:text="#{step.endHour}">End Hour</th>
            <th>
                <a th:href="@{/calendar/user}" class="btn btn-default btn-block lnb-new-schedule-btn "  id="btn-new-schedule" th:text="#{personal.calendar}" type="button" >
                    Go to personal calendar
                </a>
            </th>
        </tr>
        </thead>
        <!-- IMPORTANT, class="list" have to be at tbody -->
        <tbody class="list" id="list">
        <tr th:each="step : ${userSteps}" >
            <td class="devicename" th:value="${step.getDevice().getDevicename()}" th:text="${step.device.devicename }" >Device name</td>
            <td class="startTime" th:value="${step.getStart()}" th:text="${step.start}"> Start Date</td>
            <td class="startTime" th:value="${step.getStartHour()}" th:text="${step.startHour}"> Start Hour</td>
            <td class="endTime" th:value="${step.getEnd()}" th:text="${step.end}">End Date</td>
            <td class="endTime" th:value="${step.getEndHour()}" th:text="${step.endHour}">End Hour</td>
            <td>
                <a th:href="@{/device/info/{id}/(id=${step.getDevice().getId()})}" th:text="#{device.info}" class="btn btn-primary"></a>
            </td>
            <td>
                <a th:href="@{/planning/{id}/(id=${step.id})}"><span
                        class="fas fa-edit"></span></a>

                <a th:href="@{/planning/{id}/delete(id=${step.id})}"  th:attr="onclick='return confirm(\'' + #{delete.confirm} + '\')'" >
                    <span class="fas fa-trash" style="color: red" ></span> </a>
            </td>

        </tr>
    </table>
    <div  style="text-align:center;" th:if="${userSteps.isEmpty()}"> <span th:text="#{step.user.empty}"></span></div>


    <h5 th:if="${!studentSteps.isEmpty()}" sec:authorize="hasAuthority('Planning - Delete step/experiment own/promotor') or hasAuthority('Planning - Adjust step/experiment own/promotor')"> <span th:text="#{step.student}"></span></h5>

    <table th:if="${!studentSteps.isEmpty()}" class="table table-hover"  sec:authorize="hasAuthority('Planning - Delete step/experiment own/promotor') or hasAuthority('Planning - Adjust step/experiment own/promotor')">
        <thead>
        <tr>
            <th th:text="#{step.user.username}"></th>
            <th th:text="#{step.device.devicename}">Device Name</th>
            <th th:text="#{step.start}">Start Date</th>
            <th th:text="#{step.startHour}">Start Hour</th>
            <th th:text="#{step.end}">End Date</th>
            <th th:text="#{step.endHour}">End Hour</th>
        </tr>
        </thead>
        <!-- IMPORTANT, class="list" have to be at tbody -->
        <tbody class="list" id="list-students">
        <tr th:each="step : ${studentSteps}">
            <td class="user" th:value="${step.getUser()}" th:text="${step.getUser().getFirstName() + ' ' + step.getUser().getLastName()}"></td>
            <td class="devicename" th:value="${step.getDevice().getDevicename()}" th:text="${step.device.devicename }" >Device name</td>
            <td class="startTime" th:value="${step.getStart()}" th:text="${step.start}"> Start Date</td>
            <td class="startTime" th:value="${step.getStartHour()}" th:text="${step.startHour}"> Start Hour</td>
            <td class="endTime" th:value="${step.getEnd()}" th:text="${step.end}">End Date</td>
            <td class="endTime" th:value="${step.getEndHour()}" th:text="${step.endHour}">End Hour</td>
            <td>
                <a th:href="@{/device/info/{id}/(id=${step.getDevice().getId()})}" th:text="#{device.info}" class="btn btn-primary"></a>
            </td>
            <td>
                <a th:href="@{/planning/{id}/(id=${step.id})}"><span
                        class="fas fa-edit"></span></a>

                <a th:href="@{/planning/{id}/delete(id=${step.id})}"  th:attr="onclick='return confirm(\'' + #{delete.confirm} + '\')'" >
                    <span class="fas fa-trash" style="color: red" ></span> </a>


            </td>

        </tr>
        <tr class='notfound' th:if="${studentSteps.isEmpty()}" >
            <td colspan='4' th:text="#{step.norecord}">No record found</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-hover">
        <thead>
        <h2> <span th:text="#{experiments}"></span></h2>
        <tr >
            <th th:text="#{experiment.name}">Experiment Name</th>
            <th th:text="#{experiment.type}">Experiment Type</th>
            <th th:text="#{step.start}">Start Date</th>
            <th th:text="#{step.end}">End Date</th>
        </tr>
        </thead>
        <!-- IMPORTANT, class="list" have to be at tbody -->
        <tbody class="list" id="Experiment-list-User">

        <tr th:each="experiment : ${userExperiments}">
            <td class="experimentName" th:value="${experiment.getExperimentname()}" th:text="${experiment.getExperimentname()}" >Experiment name</td>
            <td class="experimentType" th:value="${experiment.getExperimentType().getExperimentTypeName()}" th:text="${experiment.getExperimentType().getExperimentTypeName()}">Experiment Type name</td>
            <td class="startTime" th:value="${experiment.getStartDate()}" th:text="${experiment.getStartDate()}"> Start Date</td>
            <td class="endTime" th:value="${experiment.getEndDate()}" th:text="${experiment.getEndDate()}"> End Date</td>
            <td>
                <a th:href="@{/planning/experiments/book/info/{id}/(id=${experiment.id})}" th:text="#{experiment.info}" class="btn btn-primary"></a>
            </td>
            <td>
                <a th:href="@{/planning/experiments/book/{id}/(id=${experiment.id})}"><span
                        class="fas fa-edit"></span></a>

                <a th:href="@{/planning/experiments/book/{id}/delete(id=${experiment.id})}"  th:attr="onclick='return confirm(\'' + #{delete.confirm} + '\')'" >
                    <span class="fas fa-trash" style="color: red" ></span> </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div  style="text-align:center;" th:if="${userExperiments.isEmpty()}"> <span th:text="#{experiment.user.empty}"></span></div>





    <h5 th:if="${!studentExperiments.isEmpty()}" sec:authorize="hasAuthority('Planning - Delete step/experiment own/promotor') or hasAuthority('Planning - Adjust step/experiment own/promotor')"> <span th:text="#{experiment.student}"></span></h5>

    <table th:if="${!studentExperiments.isEmpty()}" class="table table-hover"  sec:authorize="hasAuthority('Planning - Delete step/experiment own/promotor') or hasAuthority('Planning - Adjust step/experiment own/promotor')">
        <thead>
        <tr>
            <th th:text="#{step.user.username}"></th>
            <th th:text="#{experiment.name}">Experiment Name</th>
            <th th:text="#{experiment.type}">Experiment Type</th>
            <th th:text="#{step.start}">Start Date</th>
            <th th:text="#{step.end}">End Date</th>
        </tr>
        </thead>
        <!-- IMPORTANT, class="list" have to be at tbody -->
        <tbody class="list" id="list-students">
        <tr th:each="experiment : ${studentExperiments}">
            <td class="user" th:value="${experiment.getUser()}" th:text="${experiment.getUser().getFirstName() + ' ' + experiment.getUser().getLastName()}"></td>
            <td class="experimentName" th:value="${experiment.getExperimentname()}" th:text="${experiment.getExperimentname()}" >Experiment name</td>
            <td class="experimentType" th:value="${experiment.getExperimentType().getExperimentTypeName()}" th:text="${experiment.getExperimentType().getExperimentTypeName()}">Experiment Type name</td>
            <td class="startTime" th:value="${experiment.getStartDate()}" th:text="${experiment.getStartDate()}"> Start Date</td>
            <td class="endTime" th:value="${experiment.getEndDate()}" th:text="${experiment.getEndDate()}"> End Date</td>
            <td>
                <a th:href="@{/planning/experiments/book/info/{id}/(id=${experiment.id})}" th:text="#{experiment.info}" class="btn btn-primary"></a>
            </td>
            <td>
                <a th:href="@{/planning/experiments/book/{id}/(id=${experiment.id})}"><span
                        class="fas fa-edit"></span></a>

                <a th:href="@{/planning/experiments/book/{id}/delete(id=${experiment.id})}"  th:attr="onclick='return confirm(\'' + #{delete.confirm} + '\')'" >
                    <span class="fas fa-trash" style="color: red" ></span> </a>
            </td>

        </tr>
        <tr class='notfound' th:if="${studentSteps.isEmpty()}" >
            <td colspan='4' th:text="#{step.norecord}">No record found</td>
        </tr>
        </tbody>
    </table>

</div>
    <div th:replace="footer :: footer"></div>
</div>
</body>
</html>
