<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Import header -->
<head th:replace="layout :: head (title='#{product.management}')"></head>
<body onload="initPage()">
<script type="text/javascript">
    function initPage() {
        var options = {
            valueNames: ['firstName', 'lastName']
        };
        var productList = new List('product-list', options);
    }
</script>
<div class="container">
    <!-- Import menu bar -->
    <div th:replace="layout :: navbar"></div>
    <div class="content">
        <div id="product-list">
            <input class="search" placeholder="Search"/>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{name}">Name</th>
                    <th th:text="#{description}">Description
                    </th>
                    <th></th>
                </tr>
                </thead>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list">
                <tr th:each="product : ${allProducts}">
                    <td class="name" th:value="${name}"
                        th:text="${product.name }">Product Name
                    </td>
                    <td class="description" th:value="${description}"
                        th:text="${product.description }">Product Description
                    </td>
                    <td>
                        <a th:href="@{/product/{id}/(id=${product.id})}"><span
                                class="glyphicon glyphicon-edit"></span></a>&nbsp;
                        <a th:href="@{/product/{id}/delete(id=${product.id})}">
                            <span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="/products/put" class="btn btn-primary"
               th:text="#{create.product}">Create product</a>
        </div>
    </div>
</div>
</body>
</html>