
<html lang="en" class=" FB_FW_ext eidReader" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <meta id="ConnectiveDocSignExtentionInstalled" name="ConnectiveDocSignExtentionInstalled" data-extension-version="1.0.6"></head>
<body>


<div class="container">


    <div>
        <h3>Registered successfully</h3>
        <h5>Admin needs to accept you registration before you can log in.</h5>
    </div>

    <a th:href="@{/login}" th:text="#{close}" class="btn btn-secondary">Close</a>




</div>
</body></html>
