<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="navbar :: head (title='#{Privilege Management}')"></head>
<body onload = "initPage()">
<script type="text/javascript">
    function initPage(){
        $('#privileges').multiSelect({
            selectableHeader: '<div class="custom-header" th:text="#{selectable.items}"></div>',
            selectionHeader: '<div class="custom-header" th:text="#{selected.items}"></div>'
        });
    }
</script>


<div class = "container">
    <div th:replace="navbar :: navbar"></div>
    <form action="#" th:action="@{/usermanagement/privileges/{id}(id=${privilege.id})}"
          th:object="${privilege}" method="post">
        <input th:type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <h2 class="control-label" th:text="*{name}"></h2>
            <input hidden class="form-control" type = text th:field="*{name}" required/>

        </div>

        <div class="alert alert-danger" role="alert" th:if="${PrivilegeInUse}!=null" th:text="${PrivilegeInUse}"></div>


        <div class="form-group">
            <label class="control-label" th:text="#{privileges.description}"></label>
            <input class="form-control" type = text th:field="*{description}"/>

        </div>
        <p>
            <button type="submit" th:text="#{save}" class="btn btn-outline-primary"></button>
            <a th:href="@{/usermanagement/privileges}" th:text="#{close}" class="btn btn-secondary"></a>

        </p>
    </form>




</div>
</body>
</html>